[2017-06-17 14:57] jchook commented on #541
Hey I found this issue while searching "nightmare type enter" and wanted to leave my solution here for anyone else who may need it:

`"my string to type" + String.fromCharCode(13);`

[2017-06-18 03:09] entrptaher commented on #1128
It seems there is a react plugin for nightmare.
https://www.npmjs.com/package/nightmare-react-utils

[2017-06-18 04:29] 3zzy commented on #531
@rosshinkley  Has this been fixed yet? I'm logging in and then trying to access a protected page but it doesn't store the cookies from the previous session. Is there a workaround to set multiple cookies?

[2017-06-18 04:42] 3zzy commented on #921
@thebentern Were you (or anyone else) able to get the partitions persistence working at all? Storing and saving cookies using @navossoc function isn't working for me either. It gets stuck at `nightmare running +0ms`

[2017-06-19 09:35] #1159 closed

[2017-06-19 12:24] samavamsi1 commented on #1152
nightmare
    .goto('https://jedwatson.github.io/react-select/')
    .mousedown('.Select-value.State-NSW')
    .type('.Select-value.State-NSW', 'queensland\u000d')

[2017-06-19 12:24] #1152 closed

[2017-06-19 12:24] samavamsi1 commented on #1153
nightmare
    .goto('https://jedwatson.github.io/react-select/')
    .mousedown('.Select-value.State-NSW')
    .type('.Select-value.State-NSW', 'queensland\u000d')

[2017-06-19 12:24] #1153 closed

[2017-06-19 19:04] stevenvachon commented on #1161
Try running your screenshot after a `then`:
[code]

[2017-06-19 20:30] auser commented on #1161
Hm... Sadly that doesn't fix the bug... :/. Thanks for the idea though!

[2017-06-20 10:50] lamkent00 commented on #497
Hi @oscarmorrison , I try to deploy your repo on heroku but not work. Can you help me to fix it ? Tks so much :)
2017-06-20T10:30:44.000000+00:00 app[api]: Build succeeded
2017-06-20T10:32:21.915526+00:00 heroku[web.1]: Starting process with command `npm start`
2017-06-20T10:32:25.326127+00:00 app[web.1]:
2017-06-20T10:32:25.326139+00:00 app[web.1]:
2017-06-20T10:32:25.326138+00:00 app[web.1]: > l

[2017-06-20 18:55] doanchu opened #1163 "Chrome is not defined when trying to access window.chrome object"
Chrome is not defined when trying to access window.chrome object. It seems Electron support some chrome.* APIs. How is it possible that chrome is not defined when using nightmarejs?

[2017-06-20 19:42] jesobreira commented on #1113
If that's your site, then you could just disable recaptcha for the testing, then re-enable it.

Take a look at [Death By Captcha](http://www.deathbycaptcha.com) as well.

[2017-06-21 10:15] Kinzi opened #1164 "How to pass a function to evaluate()"
Can't solve this somehow.

I'm trying to pass a function to be resolved inside the evaluate statement and return a value. Something like this:

[code]
I'm getting `ReferenceError: getValues is not defined`. Tried different approaches with return statements in various place, but no luck.

How can this be done?

Thanks!

[2017-06-21 10:43] Kinzi commented on #1164
🤦🏻‍♂️ Of course you can just do it like this:

[code]

[2017-06-21 10:44] #1164 closed

[2017-06-21 13:23] adi518 opened #1165 "How to iterate paginated content?"
I have a simple task where I have to sign in and scrap a page with paginated content where each pagination redirects the browser (namely, no Ajax requests). How do you approach that? recursion? I need a design pattern advice, since the whole `async/await` and `generators` concepts are kinda new to me.

Thanks.

[2017-06-21 13:55] ktmn opened #1166 "Running Nightmare tests with grep pattern from editor"
My tests work great from command line, but I can't get any VS Code or Atom test runner plugins working that would automatically add the grep pattern or some sort of code lens to make it easier to target specific tests.

The test seems to begin, but no browser window is spawned and it just times out.

I guess it's trying to run electron from electron and it doesn't pan out, but are there any plugin

[2017-06-21 16:02] adi518 commented on #481
Why do you need this if `evaluate` waits for `did-finish-load`?

[2017-06-21 17:23] ktmn commented on #1166
After some digging I found a VS Code plugin that did it for me: https://marketplace.visualstudio.com/items?itemName=asvetliakov.run-current-test

[2017-06-21 17:23] #1166 closed

[2017-06-21 21:25] ejcx commented on #1060
Hi. I work on Security here at Segment and just heard of this issue. It's very interesting!

It is definitely not appropriate to allow websites to execute arbitrary code in a website that nightmare loads. We will have to fix this problem. I wonder if an easy fix is to somehow remove __nightmare from the global namespace. I am not super familiar with __nightmare, so I'm not sure if this is a small

[2017-06-22 06:48] ScionOfBytes opened #1167 "Error: Could not start Xvfb"
Okay, so this has been bugging me for a long time and I can't seem to find any literature around it. So let's start with my setup.

This is the code that runs Nightmare and Xvfb:

[code]

This runs inside a docker container. The container is set up like so:

[code]

This server runs as a worker server and always processes one url at a time. But about 50% of them fail because of this error:

[code]

[2017-06-22 20:55] aendrew commented on #1092
As per my comment [here](https://github.com/electron/electron/issues/228#issuecomment-310496078), one interesting idea could be to make the DOM manipulation layer pluggable, which would mean Nightmare itself might become a unifying API for interaction with headless browsers — something I think is really quite possible given the quality of the API and underlying code.

This, in addition to facilita

[2017-06-23 06:27] codepunkt commented on #1092
@sandstrom doesn't seem to be happening. electrons focus is on desktop apps, which don't need headless. it's a shame 😢

[2017-06-23 08:35] rasenplanscher opened #1168 "`.screenshot` randomly has shadow in first pixel"
I basically do the following:
[code]

I mostly get the screenshots I want. The background color is `rgb(255, 255, 255)`, but sometimes (on the order of 1 out of 100 runs), the top-left pixel has `rgb(230, 230, 230)`. I have no idea, why, and it seems totally random to me. But it only happens for the first pixel.

Any ideas why this happens and what I can do about it?

[2017-06-23 22:55] jnikelski opened #1169 ".inject does not appear to work"
Sorry for the vague issue name -- I spent most of Friday trying to debug this issue, and by day's end was unable to craft a more useful/descriptive problem report name.

Generally speaking, it would appear as if functions injected into Nightmare are apparently not available for use. This may be a misunderstanding in how to use this function -- my presumption is that *.inject* permits me to inject

[2017-06-25 18:20] sscotth commented on #1092
https://github.com/electron/electron/issues/228#issuecomment-310627674

[2017-06-26 08:19] adi518 commented on #1165
Ok, found a boilerplate here: https://gist.github.com/atorralb/1d1d5e9333427fa6de0675a2a5c8f371

[2017-06-26 08:19] #1165 closed

[2017-06-26 10:10] devads opened #1170 "Working great until Cannot read property 'blur' of null"
Hi,

I use nightmare only to scrap one website, and it's working great !
But I dont know why, after a while, I got errors like this one
**Cannot read property 'blur' of null**

I don't change my code so If you have any idea :-)

[code]
Thanks,

[2017-06-26 11:43] edosantillana opened #1171 "Unable to load app until wait() finish running"
I'm developing a little app with Express-Generator files structure and Nightmarejs, so i'm using routes. The Nightmare function is in my index.js file inside the routes directory, the wait() function waits until the right element loads, everything looks fine but when I run the app it can't find the index file until the wait function is completed. I figured it out because at the beginning it shows

[2017-06-27 07:27] devilpreet commented on #148
I tried what @bchr02 said "BrowserWindow.getAllWindows()" and this workaround works.

[2017-06-27 07:34] toebbel commented on #143
FYI: (X)HTML is a subset of XML so, xpath can be used to query HTML elements.
Selenium offers XPath selection for example.

[2017-06-27 22:39] 1mike12 opened #1172 "can't install via npm"
windows 10, node 6, npm v 5.0.3

[code]

[2017-06-27 22:46] 1mike12 commented on #1172
yarn add nightmare worked though... not sure what's going on

[2017-06-28 06:15] Larry850806 opened #1173 "Cannot inject jquery properly"
This is my `script.js`. I would like to inject `jquery.js` and goto `http://google.com`. but jquery is not injected properly.

[code]

If I run `DEBUG=nightmare* node test_helper.js`. I see the message below.

[code]

Is there any problem to solve this ?

[2017-06-28 06:18] rbjorklin opened #1174 "Packages necessary for running Nightmare headless on Centos 7"
So this isn't really an issue but more an attempt to contribute back my experiences of getting Nightmare running on Centos 7. See #224 for a long discussion on xvfb and pm2, especially [these](https://github.com/segmentio/nightmare/issues/224#issuecomment-239335488) [two](https://github.com/segmentio/nightmare/issues/224#issuecomment-261322814) posts might be of interest.

To run Nightmare you're

[2017-06-28 06:18] #1174 closed

[2017-06-28 06:22] rbjorklin commented on #1154
Have you got all the necessary dependencies installed? We were seeing a similar problem on Centos while it was working just fine on Debian. I just created #1174 to jot the dependencies for Centos 7 (and therefore RHEL 7) down somewhere. Hope it helps!

[2017-06-28 06:22] airtoxin commented on #1173
try change script path to absolute path

[2017-06-28 06:31] Larry850806 commented on #1173
The same on my computer. I also find many examples they only use relative path but work.

[2017-06-28 10:04] lzrski opened #1175 "Objects thrown instead of errors"
I suspect this may be more appropriate for electron/electron, but decided to start here to pick your mind.

It seems that errors from Electron instance (e.g. `navigation error`) when they reach my application are not instances of error. They are objects with `message` property:

[code]

Do you think it's something that should be addressed in this project or in Electron? I feel it's a bug in one of

[2017-06-29 21:38] bwbuchanan commented on #1082
This is a regression introduced by #825 .

The fix is trivial. The preload.js script needs to be modified to:
[code]

Perhaps someone else would be so kind as to put this into a PR? :-)

[2017-06-30 10:00] w01fgang commented on #1082
Unfortunately, this isn't a regression, #825 resolves #824.
Maybe this needs to be documented well. Or someone will add a method that allows changing window properties.
Example:
[code]

[2017-06-30 10:21] bwbuchanan commented on #1082
You're right, it's not a regression; it's a bug introduced by #825 when fixing #824.

I think that my fix accomplishes the intent of #825 without breaking pages that try to set onunload / onbeforeunload.

[2017-07-01 03:25] KamesCG commented on #1018
An issue has been submitted the the electron-builder issues queue

[](https://github.com/electron-userland/electron-builder/issues/1776)

[2017-07-01 22:45] paigewommack opened #1176 "tor requests"
Is there anybody here working on the tor request feature ? I saw closed issues but no open PR on the matter.

Do you guys know if it will easily implementable  ? The tor-request module is quite light and easy to go through, but nightmare looks way more complex. It seems that everything is based on the the BrowserWindow var of electron module. So it's look like nightmare + tor would be achievable b

[2017-07-02 09:14] #1176 closed

[2017-07-03 10:36] maxcr opened #1177 "Blank page in electron during DOM repaint."
I made a video to show the error.

https://www.youtube.com/watch?v=Nn5w-z7-1V4

Basically whenever the cookies are set -- whether it be by logging in correctly, or by me setting them manually, the electron window fails to repaint correctly. As you can see in the video above that the DOM is correctly rendered and text can be hightlighted, links can be clicked, but none of it is visible. Is this som

[2017-07-03 12:07] iq-dot opened #1178 "Trying to open a JS based async website"
Hi guys,

I am trying to open a website that is heavily JS based and not sure what the best way to do this is.
The URL in question is: https://mainichi.jp/articles/20170609/dde/035/050/038000c

My code so far looks like this:

[code]

I basically need access to the window.Node and document.body

[2017-07-04 08:58] rmartins90 opened #1179 "TypeError: key.charAt is not a function"
When using lodash cloneDeep function nightmare returns a TypeError.

[code]

[2017-07-05 00:16] Burning-Chai opened #1180 "Can't run nightmare on Ubuntu 16.04"
I want to run nightmare program on Ubuntu 16.04.
so I prepared sample code such as.

[code]

Also I installed some dependencies to run.

[code]

then, I run `DEBUG=nightmare*,electron* xvfb-run --server-args='-screen 0 1024x768x24' node --harmony index.js`

but can't run. didn't make hoge.png.

now display log such as
[code]

If you know to solve way, please teach me.
Thank you.

[code]

[2017-07-05 17:57] austinyearlykim opened #1181 "QUESTION: Is there any sort of keep-alive feature?"
I would like the pseudo-browser to stay alive and wait for requests so I don't have to wait for the construction of Electron to load a new url, is there support for this?

Awesome library @segmentio !

[2017-07-07 02:30] wnxhaja commented on #1180
We have the same setup for node npm and nightmare and it works find with me. The only difference is that I am not using `xfvb-run`. Try running it without that one. To see if the issue is in nightmare.

[2017-07-07 07:48] nzwsch commented on #1142
@samavamsi1

[code]

[2017-07-07 10:40] wayne-kim commented on #1127
I am facing this same issue.

[2017-07-07 17:01] Raidus commented on #856
Thanks @entrptaher for your example!

I've tried to rebuild your example, but nightmare isn't starting in my case.

Could have a look at https://github.com/Raidus/test-electron-nightmare?

[2017-07-07 17:01] Raidus commented on #835
Thanks @entrptaher for your example!

I've tried to rebuild your example, but nightmare isn't starting in my case.

Could have a look at https://github.com/Raidus/test-electron-nightmare?

[2017-07-07 19:37] mariodavid commented on #856
@Raidus did you tried the hint from @codeofsumit?

Adding `electronPath: require('./node_modules/electron'),` in https://github.com/Raidus/test-electron-nightmare/blob/master/night.js#L5 worked for me when i tried your example.

[2017-07-07 21:35] maxcr commented on #1177
Its an electron error. I've reposted there.

[2017-07-07 21:35] #1177 closed

[2017-07-07 23:00] maxcr opened #1182 "How do I attach to the electron instance to use a debugger from within Nightmare?"
I'm trying to produce some meaningful debug output to actually figure out where electron is crashing. I can't recreate the error without nightmare. The output from `DEBUG=*` seems to be nightmare only.

[2017-07-08 10:31] Raidus commented on #856
@mariodavid thanks! that solved the problem 👍

[2017-07-09 12:40] JonathanBristow commented on #1180
Seems pretty clear - "Check failed: typeface. Could not find any font: Nimbus Sans L, sans"
You're missing some fonts.

[2017-07-10 01:58] kousuketanihata opened #1183 "NightmareJs's site getting down"
http://www.nightmarejs.org/ is not connecting.
Does anyone know about this?

[2017-07-10 19:28] fouad commented on #1183
Hey @kousuketanihata sorry about that! Looks like there a weird issue with nightmarejs.org https://github.com/segmentio/nightmarejs.org/commit/df9adfefd39d2dbe772f9c1421684d19defc71fc#diff-50f29519600c68cb98dfc9766b28b111 (we're in the process of updating the site to include docs and some examples, so this shouldn't be an issue in the future!)

[2017-07-10 19:28] #1183 closed

[2017-07-11 01:58] gilbert commented on #811
@HarrisRobin I tried this approach, but the second instance never loads (it does open a new window, though). Any ideas?

[2017-07-11 15:07] aml11 opened #1184 "alert in an iframe hangs nightmare forever"
Hello,

using a brand new project with default preload, and navigating to a page that has an iframe that has an alert would result in electron hanging forever.

This is due to the fact that the preload isn't loaded into the child iframes just the top frame, so nothing hooks the window.alert.

This can be easily reproduced with this snippet in the page html:
[code]

You can see a live demo here:
[h

[2017-07-11 15:24] aml11 commented on #1184
It appears to be an electron issue :(
electron/electron/issues/2605

Any ideas to maybe get around this?

[2017-07-12 01:47] ian-axelrod commented on #1167
I am getting the same error. Same exact line of code in xvfb/index.js.

[2017-07-12 06:13] wnxhaja commented on #1182
how about you try this one. https://electron.atom.io/devtron/

[2017-07-12 19:40] maxcr commented on #1182
Thank you man I appreciate it. Looks like a good solution.

[2017-07-12 22:16] echinen opened #1186 "Add new event "double click""
Hello everyone,

I needed to use a double click event in my project with nightmare. But I didn´t find a solution to that. I think it would be interesting to have this event as an option.

[2017-07-13 05:44] archieherbias commented on #1128
Seems `nightmare-react-utils` will be useful for my problem. I'll try to dig some of it and hopefully get it working.
Thanks @entrptaher !

[2017-07-13 14:18] JonathanBristow opened #1188 "Is it possible to tell Chrome to open in mobile mode?"
How would one go about getting Chrome (Electron) to open itself up in mobile mode?
By mobile mode I mean the emulator you can turn on in the development tools.

[2017-07-13 17:08] Superlukec opened #1189 "WebRTC audio input"
I want to create WebRTC peer A (nightmare). I have managed to establish the connection to other peer B (web browser). When I talk over peer A I can hear myself at peer B, but when I talk over peer B I cannot hear myself at peer A.

Do you have any propositions?

Thank you.

[2017-07-13 22:54] SeanDez opened #1190 "Failed to compile ./~/nightmare/lib/nightmare.js Module not found: Can't resolve 'child_process' in 'F:\cp\complete-react\scrapers\test1\node_modules\nightmare\lib'"
I get this error on compile when trying to import nightmare into a React component:

The code:

[code]

As you can see in the commented code, I also tried const Nightmare = require('nightmare') but this turned the same issue.

Anyone know what the issue is? On Stack overflow a vaguely similar question received an answer that child processes can not be run in the browser. Therefore I'm thinking I'l

[2017-07-14 00:19] maxcr commented on #1184
Electron has so many fucking issues lately. I might need to abandon Nightmare for a while and switch back to a Phantom based scraper.

[2017-07-14 15:51] JonathanBristow commented on #1189
You might want to include sample code or a working demo.

[2017-07-15 06:00] Superlukec commented on #1189
Ok. This is my code for NightmareJS (server.js):

[code]

I'm testing this code on two environments (Windows and headless Linux Debian):

Windows
`node server.js`

Linux (here I am using xvfb)
`xvfb-run node server.js`

[2017-07-17 02:48] adamearthhuang opened #1191 "./node_modules/electron/dist/libffmpeg.so had a bug that it can read any file recently"
can you update? thanks!
http://www.freebuf.com/vuls/138377.html

[2017-07-17 06:43] ickyrr opened #1192 "Sending Email via Outlook.com"
I'm curious, has anyone tried doing this? I have this code: (assuming i'm already logged in to my Outlook.com account)

[code]

It just displays an error `Error: The message must have at least one recipient.`
Any help would be appreciated. :)

[2017-07-17 11:34] adi518 opened #1193 "Page event `will-navigate` returns empty Event object"
I can log the returned url, so the event works, but the event argument always returns as empty object so it's not possible to stop navigation by `event.preventDefault()`.

[2017-07-18 08:28] adi518 commented on #1173
Does not seem to work indeed, even with:

[code]

Also, the native Action supposedly works with local files only. So for the time being, I wrote an `injectJQ` action:

[code]

[2017-07-18 09:47] kaytrance opened #1194 ".click() on nth element?"
Lets assume we have a unordered list on a page with id **my-list** with links:

[code]

What **_selector_** should I provide for **nightmare.click(selector)** function to click on, for example, 3rd link in that list?

[2017-07-19 02:28] brandonmp opened #1195 ".wait(selector) failing when show: false"
Using nightmare 2.10

This code works:

[code]

However, when I set `show:false`, the `title()` call returns the title of the login page, suggesting to me that the page isn't advancing correctly.

Notably, when I change all the `wait(selector)` to `wait(time)`, it works fine. This is unexpected b/c I'm using the `wait(selector, timeout)` signature.

`wait(time)` works fine for my purposes, I just

[2017-07-19 17:54] dcyFranck commented on #136
Hi guys.
This feature is not present into repository and then the zoom use is not possible.
You have same problem?

Many thanks

[2017-07-20 05:24] guymorita opened #1196 "Unwanted new-window"
Expected behavior:
- Authenticate user, click on a menu item to navigate the site as an authed user.

Observed behavior:
- Authenticate user, user nightmare to click on a menu item and a NEW WINDOW is opened. The new window is not authed to the user.

Is there a way to avoid this? It doesn't open a new window while browsing in a normal browser.

Logs:
[code]

[2017-07-20 06:27] blacksagres opened #1197 "Tests timing out when trying to return an element from page.evaluate()"
I was trying to retrieve some data out of elements from the `evaluate` function, and the below attempt always caused a timeout, no matter what I did.

[code]
After several attempts, I tried to retrieve only the attribute value from inside the function, rather than the entire element. And the test ran just fine.

[code]
I don't quite understand why, though. Is it the fact that I was trying to retur

[2017-07-20 08:56] cjhuaxin commented on #1194
like this:

[code]

[2017-07-20 09:05] airtoxin commented on #1194
You can only use electron's browser native selector in click function, if page doesn't load DOM manipulation library like a jQuery.
https://github.com/segmentio/nightmare/blob/master/lib/actions.js#L102

[2017-07-21 02:57] zeluspudding opened #1198 "Why is one Nightmare session seemingly cannabalizing the performance of others?"
I have a scraping job I'd like to multithread because I have several thousand urls I need to test. The code below 1) reads in a csv with my url targets, 2) chunks those targets, 3) distributes those chunks to nightmare sessions so that they 4) visit each url in the chunk after logging into a website. Finally, each worker 5) writes their results to csv. The script below seems to work as desired exc

[2017-07-21 17:05] joelgriffith commented on #1092
I'm personally focused on building something from the ground-up here: https://github.com/joelgriffith/navalia. It has a very similar focus as far as API design goes, but some other cool stuff like a GraphQL front-end and coverage collection. Would love feedback and contributions if anyone is interested!

[2017-07-23 14:47] kuraga opened #1199 "Navigation error (-3) on setting Cookie header"
[code]
[code]

Why? Thanks.

[2017-07-24 06:50] zeluspudding commented on #481
@sintanial How does one use your wrapper code? Where should it be saved so that I could run your example code?

[2017-07-24 08:21] adi518 commented on #481
@zeluspudding you should take his code and put it inside a module file, e.g.: `nightmare-ewait.js` . Then, just require it and pass your Nightmare reference so you will have the `ewait` action added to it. However, I think it might be a little outdated/buggy.

[2017-07-24 20:27] zeluspudding commented on #481
Thanks @adi518 ! If it is outdated, what's a better solution? I've tried `.on('did-finish-load', cb)?` but it didn't work for some reason

[2017-07-24 21:21] CrazySyntax opened #1200 "How to use nightmare to inject script to developer tools ?"
Hi,

I'm pretty new to nightmare.js. I want to use it for automation to script injections to websites.
For example, I want nightmare.js to illustrate a situation that a user opened the developer tools, clicked 'F12' and typed in console:
` alert('Hello World').
`
Is it possible to do it with nightmare.js?

[2017-07-24 21:53] zeluspudding commented on #904
@wiliame, Have a version of your multi-client code you could share? I'm running yours and get failures on the fact that `clients` (plural) isn't defined.

[2017-07-25 13:45] kuraga commented on #1199
@rosshinkley , @stephenmathieson , @reinpk , help, please...
Is it a bug or my fault? And how do I set cookies if I have a header line?
Thanks!

[2017-07-25 13:57] RafekPL opened #1201 "Can't set cookies from a file"
Hi.

I assume it's some minor problem and I'm a novice so can't get to the bottom of it.

I have one file which logs in to a website and stores a cookie in a .json file, which is all fine, but in the second file I can't set that cookie, as I'm getting a simple [object Object] error

First file: the part that saves the cookie:
[code]

Second file that gives an error (part of it):

[code]

I am usin

[2017-07-25 20:13] couhajjou commented on #1070
This solves my problem !

[2017-07-26 00:59] airtoxin commented on #1199
use [`.cookie`](https://github.com/segmentio/nightmare#cookies) api.

[2017-07-26 07:53] kuraga commented on #1199
@airtoxin , thanks!
But it's not an excellent option since I should parse cookies first.
So, it's not a bug?

[2017-07-26 16:03] luanpotter opened #1202 "Support for spread operator"
There seem to be support for several ES6 features in the browser, but spread operator doesn't work. My questions are:

(1) Why is it so, and how easy it is to implement? I understand you use node, and that's already being support for a while now.

(2) Where can I find a comprehensive list of what is supported and what is not?

Thanks in advance! Awesome work, BTW!

PS. Spread operator example:

[c

[2017-07-26 16:53] zhenyulin commented on #1155
was having issues figuring out what exact packages I will need to run `nightmare` on `node:alpine` for e2e test

[2017-07-26 20:31] schickling commented on #1092
Hey everyone! We've just open-sourced [Chromeless](https://github.com/graphcool/chromeless). It's based on headless Chrome and works both locally and on AWS Lambda. The API is pretty similar to NightmareJS.

[2017-07-27 07:38] sopel commented on #953
@schnerd - someone has found away around this: [dimkir/nightmare-lambda-tutorial](https://github.com/dimkir/nightmare-lambda-tutorial)

While that is an impressive workaround indeed, if you are not too invested in nightmare, you might also want to check out [graphcool/chromeless](https://github.com/graphcool/chromeless), which draws a lot of inspiration from nightmare, but has a native AWS Lambda

[2017-07-27 12:37] balajmarius commented on #1200
See [preload-scripts](https://github.com/segmentio/nightmare#custom-preload-script)

[2017-07-27 13:30] kensoh commented on #1092
Just wrote a post with the list of new entrants to browser automation using headless / visible Chrome - https://medium.com/@kensoh/chromeless-chrominator-chromy-navalia-lambdium-ghostjs-autogcd-ef34bcd26907

[2017-07-28 01:10] Jackzhangpan commented on #1159
@ijshah  I have the same problem， you solve it?

[2017-07-28 06:29] zhoujinhai opened #1203 "I want to crawler more video from https://www.youtube.com/playlist?list=PLHPTxTxtC0iaN9kA37m6MRrxFkgby2CDR Cannot read property 'click' of null"
I want to crawler more video from
https://www.youtube.com/playlist?list=PLHPTxTxtC0iaN9kA37m6MRrxFkgby2CDR
but has a error : Cannot read property 'click' of null,
how to solve it?

![image](https://user-images.githubusercontent.com/20365125/28705111-d7771cba-73a0-11e7-8bcb-016164e2c069.png)

[2017-07-28 06:31] zhoujinhai commented on #1203
my code is
`const path = require('path');
var Nightmare = require('nightmare');
var nightmare = Nightmare({
    show: true,
    pollInterval: 50,
    switches: {
	    'proxy-server': 'http://127.0.0.1:61481',
	    'ignore-certificate-errors': true
    }
});

nightmare
    .goto('https://www.youtube.com/playlist?list=PLHPTxTxtC0iaN9kA37m6MRrxFkgby2CDR')
    .inject('js', 'jquery.min.js')
    // .cl

[2017-07-28 14:14] #1203 closed

[2017-07-28 14:48] zhoujinhai opened #1204 "how to loop ?"
I cannot seem to get Nightmare to work in a loop, Can someone help me how to solve the  wrong? Thanks!

[code]

[2017-07-28 21:26] patrickisallen commented on #1200
I was looking to do something similar but still can't seem to get anything working. I perform a login and then I want to perform a javascript function on the page that has loaded in the developer tools console that gives me a list of items outputted to the console and then be able to capture that.

I have even tried injecting the script into the head element  on .evaluate() and attempting to execu

[2017-07-29 07:57] akvarma opened #1205 "Undesired redirects only on remote headless server"
Hi,

I've been getting redirects back to the home page only on my remote server (Digital Ocean - Ubuntu 16.04).

Works just fine a few times after the server has just been deployed, but the redirects start after that, creating problems with the entire flow.

I'm using the node-xvfb package on Meteor, in case that helps in any way.

Works great locally. Any clues?

Thanks in advance!

[2017-07-29 14:48] Khady commented on #1200
I think you can try to have a look at nightmare-har. It injects scripts. But I don't know if that's what exactly what you want.

[2017-07-29 18:13] Vineeth-Mohan opened #1206 "Build a cache which stores HTML/CSS/JS dependencies"
I have an entire site to crawl and I would like to store the CSS/HTML/JS in the cache and reuse it whenever required. How can i achieve this functionality.

[2017-07-30 02:19] najmsheikh commented on #683
I tried the exact same steps and even made sure the path was correct but I still can't seem to load Flash content. Any fix for this?

[2017-07-30 07:50] thEpisode commented on #1204
Please check #708 and using of _vo_ library

[2017-07-30 07:53] zhoujinhai commented on #1204
thanks !

[2017-07-30 07:53] #1204 closed

[2017-07-30 08:24] zhoujinhai opened #1207 "can I push url into information"
I would like to get the information from [https://www.youtube.com/watch?v=sjhbO8lIc2s&list=PLHPTxTxtC0iaN9kA37m6MRrxFkgby2CDR&index=1](https://www.youtube.com/watch?v=sjhbO8lIc2s&list=PLHPTxTxtC0iaN9kA37m6MRrxFkgby2CDR&index=1)

I have get this information like the picture ,and I want to push url into the object of information , someone can help me to solve it? thanks!
![image](https://user-images

[2017-07-30 10:36] #1207 closed

[2017-07-30 19:20] Khady commented on #1206
Add a proxy like squid and configure nightmare to use it. Also, as long as nightmare is running, it has some cache. So better to keep your instances alive as much as possible.

[2017-07-31 01:06] zhoujinhai opened #1208 "how to speed up the running speed"
I would like to crawler some video's information from youtube , but my programming running need long time , so someone can tell me how to improve the code quality of this example? thanks！

here is my code:
[code]

[2017-07-31 09:56] Vineeth-Mohan commented on #1206
I am aware of squid based solution , what I was trying to see was to implement cache on nodeJS itself by capturing web request and injecting cache code.

[2017-07-31 15:54] CWBudde opened #1209 "Add an API to specify the device pixel ratio"
For PhantomJS a new API was recently added to specify the devicePixelRatio. This comes handy especially for automated screenshot capturing of iOS device content (screenshots needed for iTunesConnect).

It would be nice to see a way to specify this devicePixelRatio with nightmare as well.

[2017-07-31 16:10] CWBudde opened #1210 "Explain (or [re]move) Nightmare.version"
At the moment the documentation is a bit unclear as it reads:

It seems as if the Nightmare.version doesn't fit there as I would expect to read nightmare-specific constructor options.

In addition version always seems to return 'undefined' over here. Eventually, it has been replaced by engineVersions but the change wasn't reflected in the documentation!?

[2017-07-31 17:27] patrickisallen opened #1212 "Capture output from developer tool console after injecting a script and pass it back into nightmare scope"
I am currently injecting a script and the output is displayed in the electron browser developer tool console. Similar to displayed below. The script being injected into the website outputting a list of data. A brief example of what I mean is in the picture below. I essentially want to take that output and bring it back into the nightmare scope and store it in a variable or write it out to a file.

[2017-08-02 14:21] waini1110 opened #1213 "How do I click elements in ifarme?"
A web nested inside the iframe, how to click the elements inside iframe

[2017-08-02 18:20] patrickisallen commented on #1212
You are able to access the developer tool console by using the .on() function which is through electron api I believe.

[code]

This outputs each line that is outputted to the devTools console as it comes

[2017-08-02 18:22] #1212 closed

[2017-08-04 12:21] deesx opened #1214 "window in background"
I'm as new as I searched for it, sorry if has been answered; but could not get a clue about having the window to appear in the background when using the show:true option

In other words, i'd be looking into being able to code in the text editor without interruption, seeing the tests running in the electron browser in the background

Some might answer that it would be better to just remove the show

[2017-08-05 08:47] leviwheatcroft commented on #497
@lamkent00 I think your issue [has been solved](https://github.com/oscarmorrison/nightmare-heroku/issues/2) (something to do with dependencies)

@oscarmorrison thanks, your 10 hours might have felt like a waste, but it saved me (and I'm sure others) all that time (and probably much more). Love your work mate.

[2017-08-07 10:49] sabrehagen opened #1216 "Connect to remote nightmare instance"
We have nightmare running on a remote server with `show: false`. We'd like to connect in and display what the remote nightmare browser is seeing on our local machines. Is there a way to connect to a remote running nightmare instance, just like X forwarding with ssh?

[2017-08-07 15:39] vijayarulmuthu opened #1217 "Print to PDF: printBackground option not working"
Looks like there is an issue with printing CSS backgrounds.  The below code does not work -

`nightmare.pdf(filename, {printBackground: true});
`
I am trying to export an HTML page to PDF, and none of the CSS backgrounds are working.

[2017-08-08 17:12] angus-c commented on #750
I'm also seeing this. When I have two inputs, no matter what selector I use, nightmare types into the second one. If I add a wait(200) it works.

Using Preact and nightmare 2.10

[2017-08-08 22:37] casesandberg commented on #1194
`.click()` accepts any CSS selector, you can click the 3rd one in your example like this:
[code]

[2017-08-08 22:38] casesandberg commented on #1186
Have you tried doing two successive `.click()`s? Just curious if that meets your needs.

[2017-08-10 21:19] atodorov opened #1218 "Same code works fine if executed in the last .then() body but not as helper method from module"
I am running end-to-end tests and I have the following to collect code coverage:

[code]

When I execute this it successfully creates a json file under /tmp. However if I split this into a module so I can use it in all of my tests like so:
[code]

then I get:
[code]

Can you help me figure out what I'm doing wrong ?

[2017-08-11 08:56] vijaybritto commented on #1190
Nightmare is an electron process wrapped in easy to use API. You cannot run it inside the browser.
You have to run in the server or a nodejs script.

[2017-08-11 18:47] ucjonathan commented on #955
bump, same issue

[2017-08-11 21:28] Mr0grog commented on #955
Y'all should probably be bumping #945 since this depends on that.

[2017-08-16 16:19] hotrush opened #1219 "Slow on ubuntu server"
Running on ubuntu 14.04 with xvfb, but takes too much time to execute.

[code]

36 seconds, when it's about 5-6 on local machine. Any thoughts how to make it faster?
VPS 2 cores / 2 GB

[2017-08-17 01:28] tomjamescn commented on #1082
+1 same here with 2.10.0

[2017-08-17 13:06] jmullo opened #1220 "Randomly fails to execute function queued in .goto()"
On a random test run, all Mocha tests will just time out. No errors or unhandled exceptions.

In `Nightmare.prototype.goto()`, this never gets executed:
`self.child.call('goto', url, headers, this.options.gotoTimeout, fn);`

Nightmare 2.10.0
Electron 1.6.2
Mocha 3.3.0
Node 6.9.4
RHEL 7.4

[2017-08-17 15:23] CyberInfinity opened #1221 "Dynamic parameters in evaluate"
[Stackoverflow](https://ru.stackoverflow.com/questions/707144/%D0%94%D0%B8%D0%BD%D0%B0%D0%BC%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%B8%D0%B5-%D0%BF%D0%B0%D1%80%D0%B0%D0%BC%D0%B5%D1%82%D1%80%D1%8B-%D0%B4%D0%BB%D1%8F-evaluate-%D0%B2-nightmarejs)

[2017-08-17 21:38] fluffywaffles opened #1222 "Properly serialize errors (cookies.set & some other API calls)"
From what I can tell, `url` is **NOT** optional when your cookie has a `domain`, and it appears that it also must match. Just sunk an hour into this. Is Nightmare supposed to fill in `url` correctly when none is given but the cookie has a `domain`? The docs led me to believe it would just fill in `url` whenever it was missing. The error, when you don't have a matching `domain` and `url`, is super

[2017-08-18 11:53] entrptaher commented on #1082
@bwbuchanan, I tried putting that preload.js,
however, it was not fixed in.

[2017-08-18 12:03] entrptaher commented on #1082
I tested your solution, @bwbuchanan. And the result is as you can see.

![image](https://user-images.githubusercontent.com/8284972/29458110-56846f7c-843f-11e7-9992-80a12f63658c.png)

Codes:
[code]

[code]

[2017-08-18 13:00] jmullo commented on #1220
After the first .goto() call, Nightmare is stuck in this state:

`Nightmare.state: 'initial'`
`Nightmare.running: true`
`Nightmare.proc ChildProcess.connected: false`
`Nightmare.proc ChildProcess.signalCode: null`
`Nightmare.proc ChildProcess.exitCode: 1`
`Nightmare.proc ChildProcess.killed: false`

[2017-08-18 13:13] bwbuchanan commented on #1082
You must have a different version of something than I do. Try removing "value: null" and replacing with "get: function() { return null; }"

Simply making it writable defeats the purpose of #825

[2017-08-19 07:50] Khady opened #1223 "Value return by goto is sometimes empty"
Sometimes (pretty often at my scale actually...), the value returned by the `goto` method is empty. I don't know which value it is, I don't manage to serialize it to my logs.

I have this condition

[code]
 and it enters the `if` branch.

If I understand the documentation correctly, `goto` is not supposed to return an empty value like this. It should either return an object or throw an error.

Is

[2017-08-19 08:49] #1221 closed

[2017-08-19 12:47] VZnode commented on #730
Hi, It's not working with all examples, (actual it's working with firs element), all other elements still not clicked, any other ideas?

[2017-08-21 08:00] AlexanderKozhevin opened #1226 "I'm having issues with installing nightmare via npm"
I got following message:
[code]

Does anybody else having same issue right now?

[2017-08-21 08:47] AlexanderKozhevin commented on #540
Well, maybe there is a simpler  solution.
Just rewrite hosts on machine and return some "hello world" instead of real script.
So change operation system configuration or router protection.

[2017-08-21 08:47] lbineau opened #1227 "chain .wait .evaluate .then methods"
Hi,

I would like to be able to chain multiple _.wait .evaluate .then_
[code]
But I got the following error
[code]
Maybe I'm missing something in the documentation.
Anyone running the same kind of issue ?

[2017-08-21 09:05] airtoxin commented on #1227
.evaluate returns Promise object, not a nightmare instance.

[2017-08-21 09:10] lbineau commented on #1227
I can try to return Nightmare instance in the then.
Otherwise do you have any idea how to achieve this?

[2017-08-21 09:19] airtoxin commented on #1227
nightmare instance has promise like api, so your idea is maybe good.

You can write in this way.

[code]

Or, if you can use async/await api

[code]

[2017-08-21 10:56] lbineau commented on #1227
I used await syntax that is clearer than Promise one!
Thank you so much to reply quickly.

[2017-08-21 10:56] #1227 closed

[2017-08-21 17:02] AlexanderKozhevin opened #1228 "I keep getting an error when using proxy"
[code]

[code]

[2017-08-22 01:33] airtoxin commented on #1228
You should gather more details of unhandled error using `catch()` method of promise.

[code]

[2017-08-22 03:38] mehdymohajery opened #1229 "returning nightmare promise from then()"
I'm trying to click on a button if it exists and then continue with nightmare promise but after then()
I can't access the promise. How can i fix this?
[code]

[2017-08-22 04:04] Khady commented on #1223
Sorry it's a typo, `httpResult` is `val`. I updated the snippet.

[2017-08-22 04:06] Khady commented on #1223
goto returns/throws correctly in my local too. But I use it on servers for a big number of pages and in this case it has this strange behavior. I have multiple nightmare processes that are launched in one nodejs process. I don't know if it can be the reason of the problem.

[2017-08-22 04:33] airtoxin commented on #1223
I see, nightmare can't run in parallel because nightmare instance is singleton.

[2017-08-22 04:36] Khady commented on #1223
So it's impossible to do multiple `new Nightmare(options)` in parallel? I have to launch multiple nodejs processes if I want to do that?

Thanks for your help

[2017-08-22 04:44] airtoxin commented on #1223
yes. It needs to launch single instance `new Nightmare()` per single node.js process.

[2017-08-22 04:50] Khady commented on #1223
Ok. Can close this issue then. I'll reopen it if I still have some problems with multiple processes.

Thank you for the quick and helpful answers!

[2017-08-22 04:50] #1223 closed

[2017-08-22 05:00] airtoxin commented on #1216
no

[2017-08-22 05:03] airtoxin commented on #1213
There is no selector to select element inside iframe, so it can't via nightmare.js.

[2017-08-22 05:05] airtoxin commented on #1214
Threre is no option.

[2017-08-22 05:07] airtoxin commented on #1202
It's a Electron's issue.
If you want to use spread operator, use transpiler such a babel.

[2017-08-22 06:47] qaz3954179 commented on #1229
nightmare.wait('#btnLogin')

[2017-08-22 07:15] mehdymohajery commented on #1229
@qaz3954179  I'm not waiting for a control , this page shows different elements  based on different conditions. basically I want to have a ClickIfExists() method.

[2017-08-22 07:21] qaz3954179 commented on #1229
you can use Nightmare.action method to  implement it.

[2017-08-22 07:36] #1228 closed

[2017-08-22 18:36] #203 closed

[2017-08-22 18:39] casesandberg commented on #282
This was fixed with #407

[2017-08-22 18:39] #282 closed

[2017-08-22 18:44] casesandberg commented on #388
Happy to hear if you have any ideas or want to take a stab at a PR. I am going to close this for now.

[2017-08-22 18:44] #388 closed

[2017-08-22 18:45] #364 closed

[2017-08-22 18:47] casesandberg commented on #500
Are you still having trouble and have you tried 2.10.0? I am going to close this, but feel free to re-open if it's still an issue.

[2017-08-22 18:47] #500 closed

[2017-08-22 18:48] casesandberg commented on #502
It doesn't look like there has been any progress on this issue lately. I am going to go ahead and close it, but feel free to open it back up if anyone wants to take a stab at a PR.

[2017-08-22 18:48] #502 closed

[2017-08-22 18:53] casesandberg commented on #575
We are going to stick with `.then()` as it is the canonical syntax for async operations with promises in JS.

[2017-08-22 18:53] #575 closed

[2017-08-22 18:54] Mr0grog commented on #555
@casesandberg I guess it’s not clearly linked, but #945 is the PR for this issue. It’s been solved if only someone with privileges would review and merge (or give feedback).

[2017-08-22 18:55] Mr0grog commented on #555
(That is to say, it seems like it would make sense to keep this open since it’s tracking an actual PR)

[2017-08-22 18:56] casesandberg commented on #594
Go ahead and try out the headless Chrome implementation in v3, it allows you to pass options in when instantiating a new Nightmare class! https://github.com/segmentio/nightmare/tree/v3.

I am going to close this, but feel free to re-open if it's still an issue.

[2017-08-22 18:56] #594 closed

[2017-08-22 18:57] Mr0grog commented on #575
…shouldn’t this result in a PR to implement that, then? Not just closing it?

[2017-08-22 18:58] casesandberg commented on #238
Go ahead and try out the headless Chrome implementation in v3, it allows you to run multiple nightmare instances at the same time! https://github.com/segmentio/nightmare/tree/v3.

I am going to close this, but feel free to re-open if it's still an issue.

[2017-08-22 18:58] #238 closed

[2017-08-22 19:02] tiangolo commented on #203
@RoyTinker you should probably move to https://github.com/GoogleChrome/puppeteer .

It is made by the GoogleChrome team directly, uses Chrome headless and has official support for iframes.

It was released about a month ago or so, and the GitHub stars count is already over 9000.

[2017-08-22 19:02] casesandberg commented on #671
Go ahead and try out the headless Chrome implementation in v3, it fixes this issue! https://github.com/segmentio/nightmare/tree/v3.

I am going to close this, but feel free to re-open if it's still an issue.

[2017-08-22 19:02] #671 closed

[2017-08-22 19:04] casesandberg commented on #676
It doesn't look like there has been any progress on this issue lately. I am going to go ahead and close it, but feel free to open it back up if anyone wants to take a stab at a PR.

[2017-08-22 19:04] #676 closed

[2017-08-22 19:04] casesandberg commented on #688
Are you still having trouble and have you tried 2.10.0? I am going to close this, but feel free to re-open if it's still an issue.

[2017-08-22 19:04] #688 closed

[2017-08-22 19:04] #690 closed

[2017-08-22 19:05] casesandberg commented on #693
Go ahead and try out the headless Chrome implementation in v3, it fixes this exact issue! https://github.com/segmentio/nightmare/tree/v3.

I am going to close this, but feel free to re-open if it's still an issue.

[2017-08-22 19:05] #693 closed

[2017-08-22 19:12] casesandberg commented on #719
You have to set the target in your webpack config:
[code]
You also have to compile electron for the version of node you are using. Using https://github.com/electron/electron-compile is the easiest way.

I am going to close this, but feel free to re-open if it's still an issue.

[2017-08-22 19:12] #719 closed

[2017-08-22 19:14] casesandberg commented on #555
Ah, my bad, I didn't see that it was tracking with a PR.

[2017-08-22 19:18] casesandberg commented on #575
My bad, I had an overzealous finger, I am all for deprecating it! We are working on the headless chrome implementation for v3 and it removes it there https://github.com/segmentio/nightmare/blob/v3/lib/actions.js

[2017-08-22 19:21] Mr0grog commented on #575
Ah, ok.

[2017-08-22 19:46] casesandberg commented on #749
Are you still having trouble and have you tried 2.10.0? I am going to close this, but feel free to re-open if it's still an issue.

[2017-08-22 19:46] #749 closed

[2017-08-22 19:47] casesandberg commented on #750
Are you still having trouble and have you tried 2.10.0? I am going to close this, but feel free to re-open if it's still an issue.

[2017-08-22 19:49] casesandberg commented on #770
Are you still having trouble and have you tried 2.10.0? I am going to close this, but feel free to re-open if it's still an issue.

[2017-08-22 19:49] #770 closed

[2017-08-22 19:51] casesandberg commented on #779
You could also fire type events to fill in each of the input fields and then click the submit button.

I agree with @kmacpher67

[2017-08-22 19:54] casesandberg commented on #784
Are you still having trouble and have you tried 2.10.0? I am going to close this, but feel free to re-open if it's still an issue.

[2017-08-22 19:54] #784 closed

[2017-08-22 19:55] casesandberg commented on #801
Are you still having trouble and have you tried 2.10.0? I am going to close this, but feel free to re-open if it's still an issue.

[2017-08-22 19:55] #801 closed

[2017-08-22 19:56] casesandberg commented on #802
Are you still having trouble and have you tried 2.10.0? I am going to close this, but feel free to re-open if it's still an issue.

[2017-08-22 19:56] #802 closed

[2017-08-22 19:57] casesandberg commented on #817
Have you found a solution for this? Does it not work in 2.10.0? I am going to close this, but feel free to re-open if it's still an issue.

[2017-08-22 19:57] #817 closed

[2017-08-22 19:57] casesandberg commented on #821
Are you still having trouble? I am going to close this, but feel free to re-open if its still an issue.

[2017-08-22 19:57] #821 closed

[2017-08-22 19:59] casesandberg commented on #840
Would you mind opening up a PR for this?

[2017-08-22 20:00] casesandberg commented on #843
Right now there is no planned support for xpath.

[2017-08-22 20:00] #843 closed

[2017-08-22 20:03] casesandberg commented on #850
You could try clicking the input box again after you have typed text into it, that would cause it to focus. I am going to close this, but feel free to re-open if you can't get it to work.

[2017-08-22 20:03] #850 closed

[2017-08-22 20:04] casesandberg commented on #868
Go ahead and try out the headless Chrome implementation in v3, it might solve this error for you! https://github.com/segmentio/nightmare/tree/v3.

I am going to close this, but feel free to re-open if it's still an issue.

[2017-08-22 20:04] #868 closed

[2017-08-22 20:05] casesandberg commented on #873
Currently, there is no way to get redirect paths.

[2017-08-22 20:05] #873 closed

[2017-08-22 20:08] casesandberg commented on #874
JSON.stringify has a censor function for ignoring children so that it won't get caught in a circular structure: https://stackoverflow.com/a/9653082/989006.

I am going to close this, but feel free to re-open if you can't get it work.

[2017-08-22 20:08] #874 closed

[2017-08-22 20:08] casesandberg commented on #876
Are you still having trouble and have you tried 2.10.0? I am going to close this, but feel free to re-open if it's still an issue.

[2017-08-22 20:08] #876 closed

[2017-08-22 20:10] casesandberg commented on #878
Do you have some time to throw together a PR for this? I would be happy to take a look at it. I am going to close this, but feel free to re-open if you get a chance to work on it.

[2017-08-22 20:10] #878 closed

[2017-08-22 20:11] casesandberg commented on #879
Can you provide some more information or a code example? I am going to close this for now but feel free to re-open it with some more details.

[2017-08-22 20:11] #879 closed

[2017-08-22 20:12] casesandberg commented on #888
Go ahead and try out the headless Chrome implementation in v3, you can have it use a remote server to execute tasts! https://github.com/segmentio/nightmare/tree/v3.

I am going to close this, but feel free to re-open if it's still an issue.

[2017-08-22 20:12] #888 closed

[2017-08-22 20:12] Siilwyn commented on #874
Hi @casesandberg where should I do this? Note I'm not using the JSON myself or anything Nightmare does this internally.

[2017-08-22 20:13] casesandberg commented on #891
Are you still having trouble? I am going to close this, but feel free to re-open if its still an issue.

[2017-08-22 20:13] #891 closed

[2017-08-22 20:13] casesandberg commented on #892
Are you still having trouble and have you tried 2.10.0? I am going to close this, but feel free to re-open if it's still an issue.

[2017-08-22 20:13] #892 closed

[2017-08-22 20:15] casesandberg commented on #896
You can always wait on a specific div to show up:
[code]

I am going to close this, but feel free to re-open if you can't get it work.

[2017-08-22 20:15] #896 closed

[2017-08-22 20:15] casesandberg commented on #903
Can you provide some more information or a code example? I am going to close this for now but feel free to re-open it with some more details.

[2017-08-22 20:15] #903 closed

[2017-08-22 20:16] casesandberg commented on #908
Looks like this is resolved. I am going to close this for now but feel free to re-open it you are still having problems.

[2017-08-22 20:16] #908 closed

[2017-08-22 20:17] casesandberg commented on #915
Closing this as a dupe of #856

[2017-08-22 20:17] #915 closed

[2017-08-22 20:46] casesandberg commented on #966
Go ahead and try out the headless Chrome implementation in v3, handles the caching automatically! https://github.com/segmentio/nightmare/tree/v3.

I am going to close this, but feel free to re-open if it's still an issue.

[2017-08-22 20:46] #966 closed

[2017-08-22 20:47] casesandberg commented on #969
Can you provide some more information? I am going to close this for now but feel free to re-open it with some more details.

[2017-08-22 20:47] #969 closed

[2017-08-22 20:47] casesandberg commented on #971
It is currently not on the roadmap, unfortunately.

[2017-08-22 20:47] #971 closed

[2017-08-22 20:48] casesandberg commented on #972
Are you still having trouble and have you tried 2.10.0? I am going to close this, but feel free to re-open if it's still an issue.

[2017-08-22 20:48] #972 closed

[2017-08-22 20:48] casesandberg commented on #973
This is great, thanks!

[2017-08-22 20:48] #973 closed

[2017-08-22 20:49] casesandberg commented on #974
Go ahead and try out the headless Chrome implementation in v3, it allows you to connect to a remote server! https://github.com/segmentio/nightmare/tree/v3.

I am going to close this, but feel free to re-open if it's still an issue.

[2017-08-22 20:49] #974 closed

[2017-08-22 20:50] #975 closed

[2017-08-22 20:50] #976 closed

[2017-08-22 20:51] casesandberg commented on #978
Are you still having trouble and have you tried 2.10.0? I am going to close this, but feel free to re-open if it's still an issue.

[2017-08-22 20:51] #978 closed

[2017-08-22 20:52] #984 closed

[2017-08-22 20:52] casesandberg commented on #985
Are you still having trouble and have you tried 2.10.0? I am going to close this, but feel free to re-open if it's still an issue.

[2017-08-22 20:52] #985 closed

[2017-08-22 20:53] casesandberg commented on #987
The easiest way by far is to use jquery. I am going to close this for now but feel free to re-open it you are still having problems.

[2017-08-22 20:53] #987 closed

[2017-08-22 20:54] casesandberg commented on #997
This is a duplicate of https://github.com/segmentio/nightmare/issues/719

[2017-08-22 20:54] #997 closed

[2017-08-22 20:54] casesandberg commented on #1005
Can you provide some more information or a code example? I am going to close this for now but feel free to re-open it with some more details.

[2017-08-22 20:54] #1005 closed

[2017-08-22 20:55] #1006 closed

[2017-08-22 20:55] casesandberg commented on #1007
Are you still having trouble? I am going to close this, but feel free to re-open if its still an issue.

[2017-08-22 20:55] #1007 closed

[2017-08-22 20:57] casesandberg commented on #1011
You could utilize a test runner like mocha or jasmine which has built-in before and after hooks. I am going to close this for now but feel free to re-open it with some more details.

[2017-08-22 20:57] #1011 closed

[2017-08-22 20:59] #1024 closed

[2017-08-22 21:00] casesandberg commented on #1028
It doesn't look like there has been any progress on this issue lately. I am going to go ahead and close it, but feel free to open it back up if anyone wants to take a stab at a PR.

[2017-08-22 21:00] #1028 closed

[2017-08-22 21:02] casesandberg commented on #1115
Are you still having trouble and have you tried 2.10.0? I am going to close this, but feel free to re-open if it's still an issue.

[2017-08-22 21:02] #1115 closed

[2017-08-22 21:02] #1114 closed

[2017-08-22 21:02] #1113 closed

[2017-08-22 21:03] casesandberg commented on #1113
Are you still having trouble? I am going to close this, but feel free to re-open if its still an issue.

[2017-08-22 21:04] casesandberg commented on #1112
It currently does not. Go ahead and try out the headless Chrome implementation in v3, it shares the cache! https://github.com/segmentio/nightmare/tree/v3.

I am going to close this, but feel free to re-open if you are still having problems.

[2017-08-22 21:04] #1112 closed

[2017-08-22 21:05] casesandberg commented on #1109
You should be able to wrap the nightmare code in a try catch and throw an error there so that mocha will trigger the retry!

I am going to close this, but feel free to re-open if you are still having problems.

[2017-08-22 21:05] #1109 closed

[2017-08-22 21:06] casesandberg commented on #1108
Can you provide some more information or a code example? I am going to close this for now but feel free to re-open it with some more details.

[2017-08-22 21:06] #1108 closed

[2017-08-22 21:07] casesandberg commented on #1106
Do you have some time to throw together a PR for this? I would be happy to take a look at it. I am going to close this, but feel free to re-open if you get a chance to work on it.

[2017-08-22 21:08] casesandberg commented on #1105
Can you provide some more information or a code example? I am going to close this for now but feel free to re-open it with some more details.

[2017-08-22 21:08] #1105 closed

[2017-08-22 21:08] casesandberg commented on #1104
Looks like the errors pastebin expired, can you comment them inline in the issue here? I am going to close this for now but feel free to re-open it with some more details.

[2017-08-22 21:08] #1104 closed

[2017-08-22 21:09] casesandberg commented on #1103
Go ahead and try out the headless Chrome implementation in v3, it actually solves this issue! https://github.com/segmentio/nightmare/tree/v3.

I am going to close this, but feel free to re-open if you are still having problems.

[2017-08-22 21:09] #1103 closed

[2017-08-22 21:10] casesandberg commented on #1102
Can you provide some more information or a code example? I am going to close this for now but feel free to re-open it with some more details.

[2017-08-22 21:10] #1102 closed

[2017-08-22 21:11] casesandberg commented on #1100
Are you still having trouble and have you tried 2.10.0?

You can also try the headless Chrome implementation in v3 which does everything in the background! https://github.com/segmentio/nightmare/tree/v3.

I am going to close this, but feel free to re-open if you are still having problems.

[2017-08-22 21:11] #1100 closed

[2017-08-22 21:11] casesandberg commented on #1097
Are you still having trouble and have you tried 2.10.0? I am going to close this, but feel free to re-open if it's still an issue.

[2017-08-22 21:11] #1097 closed

[2017-08-22 21:11] casesandberg commented on #1096
Are you still having trouble and have you tried 2.10.0? I am going to close this, but feel free to re-open if it's still an issue.

[2017-08-22 21:11] #1096 closed

[2017-08-22 21:13] casesandberg commented on #1095
Are you still having trouble and have you tried 2.10.0? I am going to close this, but feel free to re-open if it's still an issue.

[2017-08-22 21:13] #1095 closed

[2017-08-22 21:13] casesandberg commented on #1092
Go ahead and try out the headless Chrome implementation in v3! https://github.com/segmentio/nightmare/tree/v3.

[2017-08-22 21:14] casesandberg commented on #1091
Currently no, any javascript that is executed and errors will break the page. You can try wrapping the nightmare call in a try-catch and then retrying on errors.

I am going to close this, but feel free to re-open if you can't get it to work.

[2017-08-22 21:14] #1091 closed

[2017-08-22 21:15] casesandberg commented on #1090
Are you still having trouble and have you tried 2.10.0? I am going to close this, but feel free to re-open if it's still an issue.

[2017-08-22 21:15] #1090 closed

[2017-08-22 21:16] casesandberg commented on #1089
We are currently re-writing all of the examples and documentation!

[2017-08-22 21:16] #1089 closed

[2017-08-22 21:17] casesandberg commented on #1087
We are currently working on some better documentation, but as @overflowz pointed out, catch is from the promise.

[2017-08-22 21:17] #1087 closed

[2017-08-22 21:19] rinogo commented on #1087
Thank you.  Any thoughts on my second recommendation?

[2017-08-22 21:20] shellscape commented on #1106
@casesandberg if I had the ability to re-open issues, I would reopen it. this is a premature close, and I think it shows some lack of leadership - no one, not a single collaborator nor maintainer has commented on this prior to closing, yet the feature request seems to have some mild interest from other users. poor choice, there. with how under water the project is with regard to pull requests, I h

[2017-08-22 21:23] casesandberg commented on #1087
Yes! That will be in the new documentation

[2017-08-22 21:25] casesandberg commented on #1106
Sorry for the premature close. This is currently not on the roadmap as we are focusing on the chrome headless implementation at the moment. As I said, if you would like to take a stab at a PR I would be more than happy to take a look at it!

[2017-08-22 21:25] shellscape commented on #1108
lolwut. @casesandberg non-collaborators don't have the ability to re-open issues. this is a premature close, and I think it shows some lack of leadership - no one, not a single collaborator nor maintainer has commented on this prior to closing, and with 170+ pending issues in the queue, I can understand why'd you be quick to try and pick off some easy-target issues, but this was the wrong call.

[

[2017-08-22 21:26] overflowz commented on #1087
@rinogo I'd really suggest you to have a look at promises, how they are working, what they do and so on, you'll get better understanding of them. I'm telling this, because mostly nobody documents third-party library (or native javascript) features in their libraries, only the basics.

For example me, instead of doing the promise callback chain with `then()` and `catch()`, I'm using new async/await

[2017-08-22 21:27] shellscape commented on #1106
@casesandberg thanks for commenting. Is there a discussion the team can point to, to outline the decision to move to chrome headless, especially considering the development of [puppeteer](https://github.com/GoogleChrome/puppeteer)? I ask as one of the main draws of this was the use of electron. (And the discussion may warrant closure of the issue)

[2017-08-22 21:29] StoneCypher commented on #821
:/

[2017-08-22 21:30] rinogo commented on #1087
Hi, @overflowz, thanks for your comment.  Since [April 17](https://github.com/segmentio/nightmare/issues/1087#issuecomment-294498689), I have, indeed, become more familiar with Promises. :)  Regardless, I think the recommendation to have a consistent error handling approach presented in the examples/documentation is a reasonable recommendation.

[2017-08-22 21:33] overflowz commented on #1087
@rinogo It is, indeed. I just pointed out how many documentations are made (because they're written fast and missing many things). I just gave you suggestion, which you already know now, good to know though!

Have a nice day though, I'm bit tired at the moment so, apologies!

[2017-08-22 21:34] rinogo commented on #1087
Thanks for your comments and help - have a great day and get some sleep soon! :)

[2017-08-22 21:36] casesandberg commented on #1108
Sorry @shellscape, I did not understand the title. We are working on the v3 which uses chrome headless and ditches electron.

[2017-08-22 21:41] shellscape commented on #1092
I dropped a comment on [the PR](https://github.com/segmentio/nightmare/pull/1211#issuecomment-324157546) for this feature but wanted to follow up here as well. If nightmare ditches Electron it will lose not only a fantastic base with an excellent API, but also the differentiating factor (and maybe any relevancy?) against [puppeteer](https://github.com/GoogleChrome/puppeteer) which is supported dir

[2017-08-22 21:55] casesandberg commented on #1092
We're still thinking through the tradeoffs and considering how nightmare could work or complement puppeteer and other new, exciting projects.

[2017-08-22 21:59] shellscape commented on #1092
@casesandberg I appreciate the quick followup and comment - but there's not much substance there. Would love to see some direct addressing of the bits I outlined in both comments.

[2017-08-22 23:16] keithkml commented on #1092
@shellscape you're being rude. The Nightmare devs don't owe you anything. Please check your attitude if you're going to continue commenting here, or go fork and start a competing project.

[2017-08-22 23:30] casesandberg commented on #857
You can make Nightmare use different promise libraries by following the docs here: https://github.com/segmentio/nightmare#promises

[2017-08-22 23:30] #857 closed

[2017-08-22 23:31] casesandberg commented on #859
Are you still having trouble? I am going to close this, but feel free to open a new issue if its still an issue.

[2017-08-22 23:31] #859 closed

[2017-08-22 23:31] casesandberg commented on #863
Are you still having trouble and have you tried 2.10.0? I am going to close this, but feel free to open a new issue if you are still having problems.

[2017-08-22 23:31] #863 closed

[2017-08-22 23:33] casesandberg commented on #864
Go ahead and try out the headless Chrome implementation in v3, it has first class async / await support! https://github.com/segmentio/nightmare/tree/v3.

I am going to close this, but feel free to open a new issue if you are still having problems.

[2017-08-22 23:33] #864 closed

[2017-08-22 23:34] casesandberg commented on #917
Are you still having trouble and have you tried 2.10.0? I am going to close this, but feel free to open a new issue if you are still having problems.

[2017-08-22 23:34] #917 closed

[2017-08-22 23:36] casesandberg commented on #921
Looks like this is resolved. I am going to close this for now but feel free to open a new issue if you are still having problems.

[2017-08-22 23:36] #921 closed

[2017-08-22 23:36] casesandberg commented on #931
Can you provide some more information or a code example? I am going to close this for now but feel free to open a new issue with some more details.

[2017-08-22 23:36] #931 closed

[2017-08-22 23:37] casesandberg commented on #932
Looks like this is resolved. I am going to close this for now but feel free to open a new issue if you are still having problems.

[2017-08-22 23:37] #932 closed

[2017-08-22 23:37] casesandberg commented on #933
Can you provide some more information or a code example? I am going to close this for now but feel free to open a new issue with some more details.

[2017-08-22 23:37] #933 closed

[2017-08-22 23:38] casesandberg commented on #934
Looks like this is resolved. I am going to close this for now but feel free to open a new issue if you are still having problems.

[2017-08-22 23:38] #934 closed

[2017-08-23 00:36] shellscape commented on #1092
@keithkml I'm sorry but I have to disagree. I thanked @casesandberg  for his reply and for he speed at which he replied, and that was sincere. Stating that there isn't substance in a reply isn't rude, it's merely a comment on the perception of the content of the reply. I didn't demand anything so there's no implication of any expectation that anything is owed - I very plainly said that I would lov

[2017-08-23 02:04] kensoh commented on #1092
The way @shellscape delivered his message may be questionable to some. Nevertheless, I really think he brought up good points and that @casesandberg / core team is probably already weighing some of these considerations before that.

It is not an easy decision though. NightmareJS did the right thing by tearing out PhantomJS and replacing with Electron. We've seen what has happened to PhantomJS by n

[2017-08-23 02:15] kensoh commented on #1092
Another point I would like to bring up. Has anyone notice that increasingly people who look for open-source projects / tools, are only planning to use it (take) but not contribute (give)? Most users come, use something, switch to something else when needed but most don't have intention to contribute PRs let alone eventually maintaining the tool.

Few years ago the forks to stars ratios are much hi

[2017-08-23 02:33] shellscape commented on #1092
@kensoh insightful, interesting, and much appreciated comments on the subject. solid read, and I'm looking forward to additional comments on the thread.

regarding open source contributions; I really think that depends on the space, stability of the project, and accessibility to people that actively encourage contribution. I'd offer up the webpack community as an example (of which I'm a contributo

[2017-08-23 03:15] avimar commented on #1092
@kensoh Due to availability bias, my recent memories of attempting to contribute to open source projects has left a bad taste in my mouth.

3 examples:
- restify: incorporating the cache plugin code to work with static serving. The plugin repository got moved, then moved back. But They wanted a test, I couldn't figure out the testing structure, and nobody helped (over a period of months). It's sti

[2017-08-23 03:30] CarlosMC opened #1230 "Selecting multiple values on .select()"
HI there!
Thanks for the great work you're doing with Nightmarejs.

Is there a way to make a multiple value selection on a list?
something like this:

**.select('#MultipleList', ['value1', 'value2', 'value3']);**

kind regards!

[2017-08-23 03:37] kensoh commented on #1092
To NightmareJS moderators and guys, I'm sorry, I realised this isn't the place to discuss open-source in general and my question above distracts from the discussion here, please ignore my post above. I think I mentioned that part when I thought of the maintainability challenges should NightmareJS switch to headless Chrome.

(Thanks @shellscape and @avimar for your replies! Wow it is really hearten

[2017-08-23 04:14] matt-jarrett opened #1231 "Error running example"
Machine info:
[code]

New project with `nightmare` and `eslint` installed.

I copied the example code from Nightmare's README:
[code]

The error I get after it can't seem to resolve the `wait`:
[code]

Any help? Seems to me the wait is looking for an element (maybe class) that can't be found on the README example.

[2017-08-23 05:01] airtoxin commented on #1231
README example dependent to duckduckgo.com's page structure.
Use `'#links_wrapper .result__title a'` selector instead of `'#zero_click_wrapper .c-info__title a'`.

[2017-08-23 15:53] APshenkin opened #1233 "Nightmare doesn't throw error, when launching in Docker without xvbf"
When I try to launch example in docker without xvbf I expect to get error that electron can't launch. But instead of this process completes with exitcode 0.
We use Nightmare in CodeceptJS so we want to provide error messages, when there is issues with electron launch

Here is nightmare stdout in DEBUG:
[code]

I noticed that cb function is empty https://github.com/segmentio/nightmare/blob/master/l

[2017-08-23 16:06] Khady commented on #238
It means that the version running on chrome headless doesn't have anymore the limitation of running only once per nodejs process?

Related to #1223

[2017-08-23 16:11] carbonsam commented on #1231
I'm not able to get the example to work either - even with the new selectors. I'm getting a different error when the test fails though:

[code]

Test I'm running is here:
[code]

Node version is `6.10.2` and I'm using Jest as my test framework. Running on the Windows 10 Ubuntu subsystem as well.

[2017-08-23 16:31] casesandberg commented on #238
Headless chrome will seamlessly run multiple processes up to ~100 and then you might run into some issues. This will not work, however, [if you have deployed headless chrome to lambda](https://github.com/adieuadieu/serverless-chrome/issues/15#issuecomment-301754730).

[2017-08-23 16:39] k1r0s commented on #1231
worked for me https://github.com/segmentio/nightmare/pull/1232

[2017-08-23 16:56] casesandberg commented on #812
Would you be willing to open a PR for this? Looks like there is a handful here: https://github.com/search?utf8=%E2%9C%93&q=nightmare+plugin&type=

[2017-08-23 16:58] casesandberg commented on #727
You have to use `.done()` at the end of all operations to make nightmare return a promise.

[2017-08-23 16:58] #727 closed

[2017-08-23 16:59] casesandberg commented on #938
Are you still having trouble? I am going to close this, but feel free to open a new issue if its still an issue.

[2017-08-23 16:59] #938 closed

[2017-08-23 17:00] casesandberg commented on #1030
Ah, great digging! I am going to close this, but it will be here for anyone else that searches for it.

[2017-08-23 17:00] #1030 closed

[2017-08-23 17:00] casesandberg commented on #939
Are you still having trouble? I am going to close this, but feel free to open a new issue if its still a problem.

[2017-08-23 17:00] #939 closed

[2017-08-23 17:02] casesandberg commented on #948
Are you still having trouble? I am going to close this, but feel free to open a new issue if its still a problem.

[2017-08-23 17:02] #948 closed

[2017-08-23 17:03] casesandberg commented on #958
Are you still having trouble and have you tried 2.10.0? I am going to close this, but feel free to open a new issue if you are still having problems.

[2017-08-23 17:03] #958 closed

[2017-08-23 17:05] casesandberg commented on #1023
You have to end all call with `.done()` otherwise electron will hang. I am going to close this, but feel free to open a new issue if you can't get it work.

[2017-08-23 17:05] #1023 closed

[2017-08-23 17:06] casesandberg commented on #1031
Can you provide some more information or a way to reproduce? I am going to close this for now but feel free to open a new issue with some more details.

[2017-08-23 17:06] #1031 closed

[2017-08-23 17:06] casesandberg commented on #1046
Are you still having trouble? I am going to close this, but feel free to open a new issue if its still a problem.

[2017-08-23 17:06] #1046 closed

[2017-08-23 17:07] casesandberg commented on #1051
Are you still having trouble? I am going to close this, but feel free to open a new issue if its still a problem.

[2017-08-23 17:07] #1051 closed

[2017-08-23 17:08] casesandberg commented on #1062
Yep, this would be the right way to do it!

[2017-08-23 17:08] #1062 closed

[2017-08-23 17:09] casesandberg commented on #1064
Are you still having trouble and have you tried 2.10.0? I am going to close this, but feel free to open a new issue if you are still having problems.

[2017-08-23 17:09] #1064 closed

[2017-08-23 17:10] casesandberg commented on #1065
You can find some more information about debugging here: https://github.com/segmentio/nightmare#debugging, but to do what you are looking for you just need to set and env var of `DEBUG=*`

[2017-08-23 17:10] #1065 closed

[2017-08-23 17:11] casesandberg commented on #1067
Currently, there is not.

[2017-08-23 17:11] #1067 closed

[2017-08-23 17:13] casesandberg commented on #1073
You have to call the cb with whatever data you want the evaluate function to return:
[code]

[2017-08-23 17:13] #1073 closed

[2017-08-23 17:15] casesandberg commented on #1076
Are you still having trouble and have you tried 2.10.0? I am going to close this, but feel free to open a new issue if you are still having problems.

[2017-08-23 17:15] #1076 closed

[2017-08-23 17:16] casesandberg commented on #1078
It would be difficult for nightmare to work in runkit. Electron needs to be installed and compiled to the exact version of node that runkit is using.

[2017-08-23 17:16] #1078 closed

[2017-08-23 17:16] casesandberg commented on #1080
🙌

[2017-08-23 17:16] #1080 closed

[2017-08-23 17:19] casesandberg commented on #1058
Your second example works for me. Are you still having trouble and have you tried 2.10.0? I am going to close this, but feel free to open a new issue if you are still having problems.

[2017-08-23 17:19] #1058 closed

[2017-08-23 17:19] matt-jarrett commented on #1231
Thanks!

[2017-08-23 17:19] #1231 closed

[2017-08-23 17:20] casesandberg commented on #1059
Looks like this is resolved. I am going to close this for now but feel free to open a new issue if you are still having problems.

[2017-08-23 17:20] #1059 closed

[2017-08-23 17:21] casesandberg commented on #1060
Do you have some time to throw together a PR for this? I would be happy to take a look at it. I am going to close this, but feel free to open a new issue if you get a chance to work on it.

[2017-08-23 17:21] casesandberg commented on #1070
Looks like this is resolved. I am going to close this for now but feel free to open a new issue if you are still having problems.

[2017-08-23 17:21] #1070 closed

[2017-08-23 17:23] casesandberg commented on #1072
Are you still having trouble? I am going to close this, but feel free to open a new issue if its still a problem.

[2017-08-23 17:23] #1072 closed

[2017-08-23 17:24] casesandberg commented on #1079
We are currently working on a rewrite of the docs and will be launching a new website that includes this. I am going to close this for now.

[2017-08-23 17:24] #1079 closed

[2017-08-23 17:27] casesandberg commented on #1083
Are you still having trouble? I am going to close this, but feel free to open a new issue if its still a problem.

[2017-08-23 17:27] #1083 closed

[2017-08-23 17:27] casesandberg commented on #1084
Looks like this is resolved. I am going to close this for now but feel free to open a new issue if you are still having problems.

[2017-08-23 17:27] #1084 closed

[2017-08-23 17:30] casesandberg commented on #1085
Looks like this is resolved. I am going to close this for now but feel free to open a new issue if you are still having problems.

[2017-08-23 17:30] #1085 closed

[2017-08-23 17:32] casesandberg commented on #1086
Using `DEBUG=*` from the [debugging section](https://github.com/segmentio/nightmare#debugging) does tell you when there is a problem like this.

[2017-08-23 17:32] casesandberg commented on #1086
Using `DEBUG=*` from the [debugging section](https://github.com/segmentio/nightmare#debugging) does tell you when there is a problem like this.

[2017-08-23 17:33] casesandberg commented on #1088
Does anyone have some time to throw together a PR for this? I would be happy to take a look at it. I am going to close this, but feel free to open a new issue if you get a chance to work on it.

[2017-08-23 17:33] #1088 closed

[2017-08-23 17:34] ejcx commented on #1060
Hey @casesandberg . This had fallen off of my to do list when I had not heard back from anyone.

I don't think it's appropriate to close this. We should be fixing this.

[2017-08-23 17:34] casesandberg commented on #1111
Looks like this is resolved. I am going to close this for now but feel free to open a new issue if you are still having problems.

[2017-08-23 17:34] #1111 closed

[2017-08-23 17:36] casesandberg commented on #1116
Do you have some time to throw together a PR for this? I would be happy to take a look at it. I am going to close this, but feel free to open a new issue if you get a chance to work on it.

[2017-08-23 17:36] #1116 closed

[2017-08-23 17:37] casesandberg commented on #1118
There currently isnt a way to do this. Do you have some time to throw together a PR? I would be happy to take a look at it. I am going to close this, but feel free to open a new issue if you get a chance to work on it.

[2017-08-23 17:37] #1118 closed

[2017-08-23 17:37] entrptaher commented on #1216
First point. show:false will disable the show.

[2017-08-23 17:37] casesandberg commented on #1119
Looks like this is resolved. I am going to close this for now but feel free to open a new issue if you are still having problems.

[2017-08-23 17:37] #1119 closed

[2017-08-23 17:38] casesandberg commented on #1121
This currently isn't enabled. Do you have some time to throw together a PR for this? I would be happy to take a look at it. I am going to close this, but feel free to open a new issue if you get a chance to work on it.

[2017-08-23 17:38] #1121 closed

[2017-08-23 17:39] casesandberg commented on #1123
Dont use the &:
[code]

[2017-08-23 17:39] #1123 closed

[2017-08-23 17:41] casesandberg commented on #1124
You should also end on uncaught exceptions like it is done here: https://github.com/segmentio/nightmare/blob/e68d0f2ec7e32da9d2f353eb3ed19e86adce0f6d/lib/nightmare.js#L154-L158

[2017-08-23 17:41] #1124 closed

[2017-08-23 17:44] casesandberg commented on #1056
Looks like this is resolved. I am going to close this for now but feel free to open a new issue if you are still having problems.

[2017-08-23 17:44] #1056 closed

[2017-08-23 17:45] casesandberg commented on #1053
Looks like this is resolved. I am going to close this for now but feel free to open a new issue if you are still having problems.

[2017-08-23 17:45] #1053 closed

[2017-08-23 17:46] casesandberg commented on #1052
Looks like this is resolved. I am going to close this for now but feel free to open a new issue if you are still having problems.

[2017-08-23 17:46] #1052 closed

[2017-08-23 17:48] casesandberg commented on #1050
Looks like this is resolved. I am going to close this for now but feel free to open a new issue if you are still having problems.

[2017-08-23 17:48] #1050 closed

[2017-08-23 17:50] casesandberg commented on #1041
Looks like this is resolved. I am going to close this for now but feel free to open a new issue if you are still having problems.

[2017-08-23 17:50] #1041 closed

[2017-08-23 17:52] casesandberg commented on #1034
Are you still having trouble and have you tried 2.10.0? I am going to close this, but feel free to open a new issue if you are still having problems.

[2017-08-23 17:52] #1034 closed

[2017-08-23 17:54] casesandberg commented on #1018
Solution at https://github.com/electron-userland/electron-builder/issues/1776, closing this as resolved.

[2017-08-23 17:54] #1018 closed

[2017-08-23 17:55] casesandberg commented on #990
Are you still having trouble and have you tried 2.10.0? I am going to close this, but feel free to open a new issue if you are still having problems.

[2017-08-23 17:55] #990 closed

[2017-08-23 17:57] casesandberg commented on #963
Are you still having trouble and have you tried 2.10.0? I am going to close this, but feel free to open a new issue if you are still having problems.

[2017-08-23 17:57] #963 closed

[2017-08-23 17:58] casesandberg commented on #962
Looks like this is resolved. I am going to close this for now but feel free to open a new issue if you are still having problems.

[2017-08-23 17:58] #962 closed

[2017-08-23 19:13] casesandberg commented on #953
Looks like this is resolved. I am going to close this for now but feel free to open a new issue if you are still having problems.

[2017-08-23 19:13] #953 closed

[2017-08-23 19:36] casesandberg commented on #959
Looks like this is resolved. There are a couple of points of things to improve but those should be opened as separate issues. I am going to close this for now but feel free to open a new issue if you are still having problems.

[2017-08-23 19:36] #959 closed

[2017-08-23 19:37] casesandberg commented on #1117
There currently isn't a way of doing this, will add it as a feature request.

[2017-08-23 19:39] casesandberg commented on #1127
This is a duplicate of https://github.com/segmentio/nightmare/issues/1071

[2017-08-23 19:39] #1127 closed

[2017-08-23 19:39] casesandberg commented on #1128
Looks like this is resolved. I am going to close this for now but feel free to open a new issue if you are still having problems.

[2017-08-23 19:39] #1128 closed

[2017-08-23 19:40] casesandberg commented on #1151
Can you provide some more information or a code example? I am going to close this for now but feel free to open a new issue with some more details.

[2017-08-23 19:40] #1151 closed

[2017-08-23 19:41] casesandberg commented on #1150
Duplicate of https://github.com/segmentio/nightmare/issues/1047

[2017-08-23 19:41] #1150 closed

[2017-08-23 19:42] casesandberg commented on #1146
Can you provide some more information or a code example? I am going to close this for now but feel free to open a new issue with some more details.

[2017-08-23 19:42] #1146 closed

[2017-08-23 19:43] casesandberg commented on #1144
Do you have some time to throw together a PR for this?

[2017-08-23 19:43] casesandberg commented on #1143
Do you have some time to throw together a PR for this?

[2017-08-23 19:43] casesandberg commented on #1142
Looks like this is resolved. I am going to close this for now but feel free to open a new issue if you are still having problems.

[2017-08-23 19:43] #1142 closed

[2017-08-23 19:44] casesandberg commented on #1141
As @nlack stated, nightmare uses electron. There is currently no plan to support any other browsers.

[2017-08-23 19:44] #1141 closed

[2017-08-23 19:45] casesandberg commented on #1140
Go ahead and try out the headless Chrome implementation in v3, it allows multiple processes running at the same time! https://github.com/segmentio/nightmare/tree/v3.

[2017-08-23 19:45] #1140 closed

[2017-08-23 19:45] casesandberg commented on #1139
Looks like this is resolved. I am going to close this for now but feel free to open a new issue if you are still having problems.

[2017-08-23 19:45] #1139 closed

[2017-08-23 19:47] casesandberg commented on #1137
I am going to close this, but feel free to open a new issue if you can't get it work.

[2017-08-23 19:47] #1137 closed

[2017-08-23 19:47] casesandberg commented on #1136
Looks like this is resolved. I am going to close this for now but feel free to open a new issue if you are still having problems.

[2017-08-23 19:47] #1136 closed

[2017-08-23 19:48] casesandberg commented on #1135
Looks like this is resolved. I am going to close this for now but feel free to open a new issue if you are still having problems.

[2017-08-23 19:48] #1135 closed

[2017-08-23 19:49] casesandberg commented on #1133
Going to close this one, feel free to continue the discussion.

[2017-08-23 19:49] #1133 closed

[2017-08-23 19:50] casesandberg commented on #1129
It doesn't look like there has been any progress on this issue lately. I am going to go ahead and close it, but feel free to open a new issue.

[2017-08-23 19:50] #1129 closed

[2017-08-23 19:51] casesandberg commented on #944
Looks like this is resolved. I am going to close this for now but feel free to open a new issue if you are still having problems.

[2017-08-23 19:51] #944 closed

[2017-08-23 19:51] casesandberg commented on #936
Are you still having trouble? I am going to close this, but feel free to open a new issue if its still a problem.

[2017-08-23 19:51] #936 closed

[2017-08-23 19:52] casesandberg commented on #920
This is a duplicate of https://github.com/segmentio/nightmare/issues/521

[2017-08-23 19:52] #920 closed

[2017-08-23 19:54] casesandberg commented on #904
Looks like this is resolved. I am going to close this for now but feel free to open a new issue if you are still having problems.

[2017-08-23 19:54] #904 closed

[2017-08-23 19:55] casesandberg commented on #862
Do you have some time to throw together a PR for this? I would be happy to take a look at it. I am going to close this, but feel free to open a new issue.

[2017-08-23 19:55] #862 closed

[2017-08-23 19:56] casesandberg commented on #856
Duplicate of https://github.com/segmentio/nightmare/issues/1018

[2017-08-23 19:56] #856 closed

[2017-08-23 19:56] casesandberg commented on #834
Are you still having trouble and have you tried 2.10.0? I am going to close this, but feel free to open a new issue if you are still having problems.

[2017-08-23 19:56] #834 closed

[2017-08-23 19:57] casesandberg commented on #816
Are you still having trouble and have you tried 2.10.0? I am going to close this, but feel free to open a new issue if you are still having problems.

[2017-08-23 19:57] #816 closed

[2017-08-23 20:04] ejcx commented on #1060
We merged a disclaimer, but I'm not sure what else we can do here. #1234.

I would love more feedback on how we can make this better.

[2017-08-23 20:04] #779 closed

[2017-08-23 20:09] casesandberg commented on #1147
There currently isnt a way to do this.

[2017-08-23 20:09] #1147 closed

[2017-08-23 20:10] casesandberg commented on #946
Are you still having trouble? I am going to close this, but feel free to open a new issue if its still a problem.

[2017-08-23 20:10] #946 closed

[2017-08-23 20:11] casesandberg commented on #1192
It sounds like there is a form error on the page that you are trying to submit the form on. Make sure you have filled out all of the required fields.

[2017-08-23 20:11] #1192 closed

[2017-08-23 20:12] casesandberg commented on #1190
I am going to close this, but feel free to open a new issue if you have any more questions.

[2017-08-23 20:12] #1190 closed

[2017-08-23 20:12] casesandberg commented on #1189
Are you still having trouble and have you tried 2.10.0? I am going to close this, but feel free to open a new issue if you are still having problems.

[2017-08-23 20:12] #1189 closed

[2017-08-23 20:13] casesandberg commented on #1188
You can set the window width and height and set the useragent to a mobile browser.

[2017-08-23 20:13] #1188 closed

[2017-08-23 20:13] casesandberg commented on #1186
Are you still having trouble? I am going to close this, but feel free to open a new issue if its still a problem.

[2017-08-23 20:13] #1186 closed

[2017-08-23 20:14] casesandberg commented on #1184
Closing this as it looks like electron will not be merging it.

[2017-08-23 20:14] #1184 closed

[2017-08-23 20:14] casesandberg commented on #1182
Are you still having trouble? I am going to close this, but feel free to open a new issue if you cant get it to work.

[2017-08-23 20:14] #1182 closed

[2017-08-23 20:16] casesandberg commented on #1181
There currently isnt support for this, sorry about that.

[2017-08-23 20:16] #1181 closed

[2017-08-23 20:17] casesandberg commented on #1180
Are you still having trouble? I am going to close this, but feel free to open a new issue if its still a problem.

[2017-08-23 20:17] #1180 closed

[2017-08-23 20:17] casesandberg commented on #1179
Can you provide some more information or a code example? I am going to close this for now but feel free to open a new issue with some more details.

[2017-08-23 20:17] #1179 closed

[2017-08-23 20:20] casesandberg commented on #1178
This logs properly for me. Are you sure you are setting window.Node?

[2017-08-23 20:24] iq-dot commented on #1178
I will double check my code again

On Wed, 23 Aug 2017, 21:20 case <notifications@github.com> wrote:

[2017-08-23 20:25] ejcx commented on #1060
I'll close now until someone has a better idea of what to do or better advice.

[2017-08-23 20:25] #1060 closed

[2017-08-23 20:29] casesandberg commented on #1175
Yes, that is an electron error, it should be filed over there.

[2017-08-23 20:29] #1175 closed

[2017-08-23 20:36] casesandberg commented on #1172
This was a problem in npm@5.0.3, if you update to npm 5.2.0 this should work.

[2017-08-23 20:36] #1172 closed

[2017-08-23 20:39] casesandberg commented on #1171
Can you provide a code sample for this?

[2017-08-23 20:47] casesandberg commented on #1169
The function in evaluate does not have access to outside scope, that is why it is saying your function `jimmy` is not defined. It should work if you switch it to an ES6 auto-bound function:
[code]

[2017-08-23 20:47] #1169 closed

[2017-08-23 20:53] casesandberg commented on #1168
Duplicate of https://github.com/segmentio/nightmare/issues/964

[2017-08-23 20:53] #1168 closed

[2017-08-23 20:57] casesandberg commented on #1167
Can you run the script with `DEBUG=*` and see what it returns?

[2017-08-23 20:59] lzrski commented on #1086
I respectfully disagree with closing this one. Having a possibility to infer the reason of failure from logs doesn't satisfy the need for proper error handling (with `try - catch` etc.).

When it comes to logs, IMHO this kind of failure should be reported with default runtime configuration. I can't imagine a situation where it would be desirable for a program to silently crash. It definitely shoul

[2017-08-23 21:04] casesandberg commented on #1161
Answered in the stack overflow here: https://stackoverflow.com/questions/44580348/nightmare-js-screenshot-buffer-length-0

[2017-08-23 21:04] #1161 closed

[2017-08-23 21:16] casesandberg commented on #1086
Ah, I agree, my bad

[2017-08-23 21:21] lzrski commented on #1086
Thank you.

Nightmare is a great tool. Important part of our monitoring is running on it and I really appreciate the hard work your are putting into it's development. Keep it up :-)

[2017-08-23 21:28] Superlukec commented on #1189
I didn't solved the problem, but I will try the 2.10.0 version and I will let you know if the problem still persist. Thank you very much.

[2017-08-23 22:01] entrptaher commented on #1018
@casesandberg, For past few hours/days, I can see you are closing lots of issues which is great and I was following what you were doing.

But I think you are missing the context on several issues. Such as this one, it was not about electron-builder, you cannot just read last reply and close the issue as resolved. The original issue is still not resolved.

An issue #856, which was created before #1

[2017-08-23 22:03] entrptaher commented on #1188
@JonathanBristow this gist will help you out, https://gist.github.com/emenoh/65708b03f1a99d92f14db9b0d60d8fd0

[2017-08-23 22:34] TimNZ opened #1236 "[WIP] Adding support for Nightmare to work inside current Electron process"
I want the automation goodness of Nightmare for an app I'm building, where it needs to work in the current Electron process, with  BrowserWindow and WebView.

If anyone else is working on this please let me know asap as I'm starting on dev today as I have a need for it right now.

PR next week.

Have not yet architected the changes, will scope this out properly first.

[2017-08-23 22:42] #1194 closed

[2017-08-24 02:20] airtoxin commented on #1230
No. You should use DOM manipulation library like a jQuery in evaluate method.

[code]

[2017-08-24 18:10] machadogj commented on #148
@bchr02 @devilpreet could you please paste a code sample of how you guys made this work?
Thanks!

[2017-08-25 00:17] casesandberg commented on #1154
Are you still having trouble with this?

[2017-08-25 00:17] casesandberg commented on #1160
That's a great solution! Going to close this for now, but people will still be able to find it by searching.

[2017-08-25 00:17] #1160 closed

[2017-08-25 00:27] casesandberg commented on #1196
You can use the solution here to stop new windows for opening:

Duplicate of https://github.com/segmentio/nightmare/issues/1071

[2017-08-25 00:27] #1196 closed

[2017-08-25 00:41] casesandberg commented on #1199
Cookies are currently only supported via the `.cookie` interface. You can set cookies first though:
[code]

[2017-08-25 00:41] #1199 closed

[2017-08-25 00:42] casesandberg commented on #1200
Are you still having trouble with this? Did nightmare-har meet your needs?

[2017-08-25 00:51] casesandberg commented on #1202
@airtoxin is correct, you will want to transpile you code beforehand with babel. You can use the babel-loader in a custom webpack config.

[2017-08-25 00:51] #1202 closed

[2017-08-25 00:56] casesandberg commented on #1206
There currently isn't a solution to inject cached code into the page. It would be worth checking out the headless Chrome implementation in v3, headless chrome does a bunch of different types of caching! https://github.com/segmentio/nightmare/tree/v3. I am going to close this, but feel free to open a new issue if you have anymore questions.

[2017-08-25 00:56] #1206 closed

[2017-08-25 00:58] casesandberg commented on #1210
Do you have some time to throw together a PR for this? I would be happy to take a look at it.

[2017-08-25 00:59] casesandberg commented on #1213
This is not possible with nightmare

[2017-08-25 00:59] #1213 closed

[2017-08-25 01:02] casesandberg commented on #1214
There is currently no way to do this.

[2017-08-25 01:02] #1214 closed

[2017-08-25 01:05] casesandberg commented on #1216
This currently isn't possible, although I know the headless chrome folks are working on a solution for it.

[2017-08-25 01:05] #1216 closed

[2017-08-25 01:07] casesandberg commented on #1220
Can you paste an example of the full test here so we can take a look at it?

[2017-08-25 01:09] casesandberg commented on #1229
The chain is not a promise until you use `.end()`.

[2017-08-25 01:10] casesandberg commented on #1230
Like @airtoxin said, you should be using something like jquery. I am going to close this for now but feel free to open a new issue if you have any more questions.

[2017-08-25 01:10] #1230 closed

[2017-08-25 06:45] perry-mitchell commented on #1088
Sorry @casesandberg, but why close this issue if this is an outstanding problem? Even if it's not easily solved through nightmare, isn't it better to recognise this as an reoccurring problem?

I too am seeing this issue about 5-10% of runs with `{show: true}`. It happens for colleagues running linux/osx machines and on a variety of target URLs.

[2017-08-25 08:07] devilpreet commented on #148
I wanted to get the newly opened window URL and heres how I got it working
[code]

[2017-08-25 09:57] entrptaher commented on #1088
@casesandberg, I agree, why are you closing this issue if it was never solved? Same goes with some of other issues, are you just going around closing issues so we can create same issues again?

It happens to me all the time with random websites where the requests are suddenly aborted on some part of the page. So far I .catch() and ignore -3 code, but we don't have anyone who can provide us with so

[2017-08-25 11:21] techtonik commented on #1079
Looks like NIghtmare is Electron-only, so looks like there won't be any WebDriver support.

[2017-08-25 16:50] rinogo commented on #1088
@perry-mitchell and @entrptaher - I feel like this is standard practice amongst many OS projects... Have you seen the "Won't Fix" tag on other source management/bug reporting systems?  At times I feel like closing out issues is a maintainer's way of saying, "bug or not, I'm not going to fix this".  Kind of a bummer.  Oh well - what can you do except perhaps contribute a fix yourself?...  If this i

[2017-08-25 17:50] gerebdavid opened #1239 ".type(selector, false) mysteriously stopped clearing text field"
I've been using nightmare for a while, wrote hundreds of lines of test. But today one of my old tests stopped working while running a deployment, because `.type(selector, false)` mysteriously stopped clearing the textfield, however `.type(selector, 'some text')` works well. I've tried with the latest version and also with older versions, down to `2.6.0`. But got the same result.

[2017-08-25 19:19] patrickisallen commented on #1200
I found a different solution still just using nightmare.
Using the

nightmare.on("console", (log, msg) => {
  //all outputs of the console are printed line by line as they come from the msg variable
  //so doing console.log(msg) will print everything as it comes
  //If you needed to filter you can just include an if statement to get what you want
}

[2017-08-25 19:25] entrptaher commented on #1229
[code]

You can simply do things like this with evaluate. Or create a action like this,

[code]

You can also pass the promise as you want in you example. The promise it returned properly. You are just not using that promise chain properly.

var Nightmare = require('nightmare');
var nightmare = Nightmare({
  show: true
});

nightmare
  .goto('https://github.com/segmentio/nightmare/issues/1229')

[2017-08-25 19:33] entrptaher commented on #1239
can you try this and see if the problem is gone?
`.type(selector, "")`
Basically set it empty.

[2017-08-25 19:35] entrptaher commented on #1236
This might be of some help. https://github.com/segmentio/nightmare/issues/835#issuecomment-257035603

[2017-08-25 19:47] CarlosMC commented on #1230
THanks for helping me guys!

this code worked for me:

        .evaluate(function( valuesToSelect ) {
           $('#MultipleList').val(valuesToSelect);
        }, ['value1', 'value2', 'value3'])

sorry if reopen, but i wanted to leave the solution in case someone else need it.

[2017-08-26 01:56] casesandberg commented on #1230
Awesome! Glad to hear that helped

[2017-08-28 06:50] perry-mitchell commented on #1088
Since a colleague added a [preload script](https://gist.github.com/perry-mitchell/fc7dcd9949f3763ce85eb11b71894ad9) to nightmare, we haven't seen this issue since. Here's hoping it stays gone.

@rinogo Of course, but I'd say it's a bit different in this case. This issue was closed without any meaningful action (including "Won't Fix"), which is what I was getting at. It is a high priority for mysel

[2017-08-28 09:46] gerebdavid commented on #1239
@entrptaher i tried with `.type(selector, '')` and also `.type(selector)` same result

[2017-08-28 11:17] gerebdavid commented on #1239
it seems, that it's loosing focus or something like that, now it works like this
[code]

[2017-08-28 16:28] entrptaher opened #1240 "Loading upwork login page (or many other pages with cloudflare) fails on nightmare"
If we try to open pages backed by cloudflare, it blocks us randomly. This is not an issue with cloudflare since loading the page on other browsers works fine. The issue only happens on electron/NightmareJS.

This is the code.

[code]
And this is the video of what happens.
![](https://media.giphy.com/media/3ohhwoeqyRDMyYYS8o/giphy.gif)
https://giphy.com/gifs/3ohhwoeqyRDMyYYS8o/fullscreen

So far I

[2017-08-28 16:43] rinogo commented on #1088
@perry-mitchell I hear ya!  Maintenance on OS projects is understandably a challenge for users/contributors and maintainers alike.  Thanks for providing that preload script, by the way! :)

[2017-08-29 03:15] JordanDDisch commented on #497
Has anyone tried to run nightmare with Heroku CI. I'm trying to do UAT tests with nightmare with https://github.com/oscarmorrison/nightmare-heroku

[2017-08-29 07:16] klouskingsley opened #1242 "Touch Event Support"
nightmare has no  `touchEnd` function.

I need to manual dispatch touch event like this:

[code]

Can we support for touch event in nightmare actions?

[2017-08-30 16:57] xblanc33 opened #1243 "Action and Scenario as object (enhancement?)"
Dear all,

First of all, thank you for developping NightmareJS. This is really helpful.

I am using it since several months and I always have to dynamically create actions and scenario.

I therefore developped a small framework to easily create action and scenario : https://github.com/webautotester/action

I hope it will help ! If needed I can help to integrate it better with Nighmare.
Otherwize,

[2017-08-30 18:08] Superlukec commented on #1189
@casesandberg I made a test with version 2.10.0. The problem still presists.

[2017-08-31 04:02] casesandberg commented on #1220
I am going to close this, but feel free to open up a new issue if you are still having problems.

[2017-08-31 04:02] #1220 closed

[2017-08-31 04:03] casesandberg commented on #1200
Ah, great!

[2017-08-31 04:03] #1200 closed

[2017-08-31 04:03] casesandberg commented on #1171
I am going to close this, but feel free to open up a new issue if you are still having problems.

[2017-08-31 04:03] #1171 closed

[2017-08-31 04:03] casesandberg commented on #1154
I am going to close this, but feel free to open up a new issue if you are still having problems.

[2017-08-31 04:03] #1154 closed

[2017-08-31 04:03] casesandberg commented on #1144
I am going to close this, but feel free to open up a new issue or PR for this.

[2017-08-31 04:03] #1144 closed

[2017-08-31 04:04] casesandberg commented on #1143
I am going to close this, but feel free to open up a new issue or PR for this.

[2017-08-31 04:04] #1143 closed

[2017-08-31 04:04] casesandberg commented on #840
I am going to close this, but feel free to open up a new issue or PR for this.

[2017-08-31 04:04] #840 closed

[2017-08-31 04:04] casesandberg commented on #812
I am going to close this, but feel free to open up a PR if you would like to see it happen.

[2017-08-31 04:04] #812 closed

[2017-08-31 04:09] casesandberg commented on #1047
It currently isnt possible, sorry.

[2017-08-31 04:09] #1047 closed

[2017-08-31 04:10] casesandberg commented on #1243
This is awesome! I am going to close this but people will still be able to find it by searching.

[2017-08-31 04:10] #1243 closed

[2017-08-31 04:11] casesandberg commented on #1239
Looks like this is resolved. I am going to close this for now but feel free to open a new issue if you are still having problems.

[2017-08-31 04:11] #1239 closed

[2017-08-31 04:14] casesandberg commented on #1167
I am going to close this, but feel free to open a new issue with some more details if it still doesnt work for you.

[2017-08-31 04:14] #1167 closed

[2017-08-31 04:22] #555 closed

[2017-08-31 05:18] jagunosra opened #1244 "Double Click?"
I have a question. the system i am working with requires double click in order to enter in properties.

Now, i have an issue.
what i did is i tried to use two as my solution but none of them worked.

#1 two successive click
.click('div.folder-details > div > div > div > div:nth-child(1) > div > span.icon > span')
.click('div.folder-details > div > div > div > div:nth-child(1) > div > span.icon > s

[2017-08-31 08:48] jmullo commented on #1220
Why the rush to close this? The problem has not fixed itself.

I haven't been able to provide an example, as this is a large project containing code I just cannot share.

[2017-08-31 08:56] cupuyc opened #1245 "Taking PDF of long page cause visual artifacts"
I print very long page as PDF { height: 16118, width: 1385 } in headless mode on MacOS and Debian 8. Resulted PDF for some reason contains cut off page.

<img width="246" alt="9ozoqbmouw" src="https://user-images.githubusercontent.com/54808/29915075-58c97936-8e43-11e7-9293-9fd7e06dcfa1.png">

When I run page with GUI When I enable show for Electron, then it displays fine.

I understand that this c

[2017-08-31 13:52] kwnccc commented on #810
@rosshinkley I'm passing either empty or falsy values for text and none of these seems to clear the input value?

[2017-08-31 14:34] DruMasterMunch commented on #874
+1

[2017-08-31 20:29] ergose opened #1246 "Stuck on second request. Second request is missing 'electron child process exited ...'"
This issue only appears on the second request. My code works fine the first time I request 'test.json'. It's the second time on that it doesn't.

**Here's my test code:**
[code]

**Here's the console output with debug:**
[code]

The 2nd and 3rd try are both missing "nightmare electron child process exited with code 0: success!". Browser shows "(pending)" and eventually "(failed)" on the 'test.json

[2017-09-01 09:37] dks-ait commented on #1034
I got around the problem, by downloading electron from its site manually and then letting nightmare use the same.

I havent tried the nightmare 2.10.0 yet.

[2017-09-01 10:23] bravecow opened #1248 ".goto navigation error without details"
{"message":"navigation error","code":-3,"details":"","url":"..."}

.goto URL is redirecting to another page. Maybe redirect is the reason.

[2017-09-01 21:07] Mr0grog commented on #955
@casesandberg would you like to see a PR for this now that #945 is merged, or is this pretty much being left alone now that you are moving towards headless Chrome?

[2017-09-02 14:03] ergose commented on #1246
I was getting odd errors from npm. So rolled it back to 4.6.1 as mentioned here: https://github.com/npm/npm/issues/17146

It wasn't that. Since there were no errors there, I started rolling back nightmare a version at a time.
I got back to 2.8.0 before I saw the electron name change warning. @2.8.1 this issue is still appearing. They are all using electron@1.7.5.

Since the first request works wit

[2017-09-02 15:49] waini1110 commented on #1248
You can add the following code in Nightmare
  switches: {
        'ignore-certificate-errors': true
    }

[2017-09-02 16:33] ergose commented on #1246
This was my fault. I didn't realize that you can't reuse the same instance of Nightmare(). I found the general solution here: https://stackoverflow.com/questions/42398621/handle-multiple-users-requests-to-multiple-remote-web-forms-using-phantomjs/42429243#42429243

**Here's the corrected code. My catch may be done wrong though. Closing issue.**
[code]

[2017-09-02 16:33] #1246 closed

[2017-09-02 23:32] devlixir opened #1249 ".wait(fn[, arg1, arg2,...]) throws error when page redirects"
Is there a better way to wait for text on a page after clicking on a button? Using the wait function such as below throws the error "Cannot read property 'textContent' of null"

[code]

[2017-09-03 05:31] Mr0grog commented on #862
Aight, I missed this note while traveling. Sorry, @casesandberg. I think I'm removed enough in time from this that I no longer have a great sense on what the right fix is. The “easy” solution here is probably to return some stand-in data for a DOM node, but it's an open question what the right stuff to return is. It's also not the actual issue (and we should check whether Electron has improved it

[2017-09-04 02:25] TimNZ commented on #1018
Started worked on implementing support for using current electron process right now.
Does not address the above issues around using the parent Electron executable.

Refer #1236

[2017-09-04 02:31] TimNZ commented on #1236
Working on adding in-process support to Nightmare right now when executing inside an Electron app.

* New Nightmare option 'useCurrentElectron' (likely renamed), support boolean or object with settings
* Work with BrowserWindow and a webview (hopefully no issues there)

Changes:

* Add a 'NightmareInProcess' function to nightmare.js that will be used if 'useCurrentElectron' specified.
* Re-use all

[2017-09-04 10:18] TimNZ commented on #1060
@ejcx Bump.

I just spotted this in preload.js whilst doing changes for #1236 and came to report it.

Unless I'm missing something obvious, you absolutely do not need to create a global/window __nightmare object.

Since nodeIntegration should be disabled on the BrowserWindow, all declared vars in preload are not exposed to the regular JS context in the page, but preload has access to all JS contex

[2017-09-04 10:20] TimNZ commented on #1060
Someone else made a comment in another issue about issues being closed prematurely, this def should never have been closed until resolved, open issues is generally the only way to track things to be done on a repo.

[2017-09-04 11:46] KamesCG commented on #1236
With curiosity, I have to ask how are you packaging the Electron application?

Do you plan on using electron-builder(https://www.npmjs.com/package/electron-builder) or another Electron packager? Just a warning, if you are using electron-builder to package the application, the electron binary is changed, so running Nightmare with the changed Electron binary, does not create the intended result i.e.

[2017-09-04 17:22] ejcx commented on #1060
@TimNZ I agree we wish we could solve this, but I frankly I'm not a node engineer and didn't really see a way to. Would love a PR so we can get it tested and merged.

I put a disclaimer on nightmare, since I didn't know how to solve it and this is definitely a real issue.

[2017-09-04 19:27] TimNZ commented on #1060
What happened to @rosshinkley.

So there is no Electron/Node expert now responsible for Nightmare, from Segment or otherwise?

[2017-09-04 19:38] ejcx commented on #1060
@TimNZ I'm the security person at segment who said this was a problem and not to close it, not one of our many node and JavaScript experts.

Not sure what your point is. We want to fix this if it's possible to, it may take some time to schedule, PRs are very welcome as it will save me several conversations.

[2017-09-04 19:39] TimNZ commented on #1236
As I said above, these changes do not address the issue with launching new Electron processes from within an existing process, that trickiness continues.

The packaging is irrelevant as I use only parts of Nightmare to automate a BrowserWindow/webview using the existing Electron process, bypassing all the process launching and co-ordination.

Use case?

I am building essentially an Electron based

[2017-09-04 19:47] TimNZ commented on #1060
@ejcx What I'm wondering is if Nightmare has lost its core maintainer/expert and perhaps the love it was getting until earlier this year.

I am very grateful of the time and effort many people/orgs put into creating open source goodness, but so many projects that a large number of people start depending on get abandoned with little notice, or one day there are significantly increasing periods befo

[2017-09-04 22:20] TimNZ commented on #1060
I'm going to park this until I do my in-process changes, #1236.

Can't remove existing exposed window.__nightmare as that would break code relying on it who upgrades Nightmare, so would need to support an option such as **securePreload=true**, maintain two sets of execute templates, and conditional code in Nightmare.prototype.evaluate_now and  parent.respondTo('javascript') in runner.js, based on

[2017-09-04 23:02] jagunosra commented on #1186
i have tried the two successive click and it's not working... i am already stucked on this..

[2017-09-05 05:12] #1244 closed

[2017-09-05 07:31] ehsanpo opened #1250 "Saving an image"
Is there any way to save an <img> element or maybe background image of an element?

[2017-09-05 10:32] KamesCG commented on #1236
Apologies for not reading more thoroughly above - I came from a different thread and only read your first post.

I'm circling back to the Nightmare/Electron packaging problem in the next 2-3 weeks.

I think the idea of the main process identifying if it's running Nightmare or the Application. You're probably correct, I can't foresee any major underlying issues to rebuilding the binary and running

[2017-09-05 21:29] TimNZ commented on #1236
Hi @KamesCG

I definitely wouldn't look at doing anything around fiddling with the Electron binary/launcher.
The code for running the main script must be either be coded into electron.asar, or the embedded in the binary, though text search for a boot.js from one of my apps got no hit.

More likely, I would look at add a 'require('nightmare').shouldRunNightmare()' type function into my main script

[2017-09-06 07:33] yatki opened #1251 "Emmiting an event before ending the instance"
Hey, I'm using nightmare for end to end user testing with ava.

Sometimes I wait for an element and element is not visible. Thus, I get a wait timeout exception. So far so good.

What i want to do is taking a screenshot of that moment before ending the instance. However, as soon as wait throws the exception, next steps are being skipped.

[./node_modules/nightmare/lib/nightmare.js:336](https://git

[2017-09-06 09:36] TimNZ commented on #1236
About 75% way through implementing.  Tested and works well.

Can launch a new BrowserWindow, or pass in an existing BrowserWindow or webview (must have loaded the necessary preload.js content yourself for IPC).

This will not address the situation where you are running within Electron and for some reason want to use current launching of new Electron process, as per above.

Though I can't see any r

[2017-09-06 13:10] KamesCG commented on #1236
I'm just now wrapping my head around what you're doing a little bit! It's been a couple months since working directly that code.

That's amazing - this solution has me so excited!

[2017-09-06 13:43] davidkwan95 opened #1252 "unable to clear input field value when typing falsy value"
This is similar to the issue at https://github.com/segmentio/nightmare/issues/810

I am unable to clear the input field when putting an empty string or falsy value inside the type or insert method, although the documentation says
[code]

[2017-09-06 14:18] DruMasterMunch opened #1253 "Clear Nightmare queue without ending the instance"
Hi,

I use nightmare inside a process to generate screenshot, and process diff regression test.

At some point, to handle errors than can occure in my diff treatment (process like file writing with node etc ...), i'd like to tell nightmare: "Ok, stop what you planned to do, but stay open i will send you a new queue of instructions"
(To be specific, if the diff testing of the screenshot of one css

[2017-09-06 18:46] johnferro commented on #1060
@TimNZ It would only be breaking change for people who are loading external javascript that expects the window.__nightmare object to be there correct?

[2017-09-06 19:01] TimNZ commented on #1060
@johnferro Yes, It would break for people who loaded their own preload who have implemented window.__nighmare, likely just copying in the provided nightmare preload.js

I have no idea how common that would be.

My thinking is now with the changes I'm doing on #1236 that Nightmare should be bumped to v3 and it's a breaking change instead of having dual support?

For #1236 I'm pretty sure I have to

[2017-09-06 19:05] TimNZ commented on #1060
Just read @dyntopia comment, def a security issue that should be fixed asap.

[2017-09-06 19:07] johnferro commented on #1060
@TimNZ Yeah makes sense, thanks for clearing that up! Personally I agree that a fix for this would definitely be important enough for a major version/breaking change.

[2017-09-06 22:45] TimNZ opened #1254 "Proposed v3"
I've just pushed WIP branch to my fork, which I propose triggers a bump to Nightmare v3.

https://github.com/TimNZ/nightmare/tree/in-process

I'm about a week away from committing a completed/tested version, as I did these changes for my own app that I need to release asap.

Major changes:
* Secure preload.js no longer exposing window.__nightmare #1060  (breaking change unless support for current

[2017-09-07 01:36] jagunosra opened #1255 "Chaining? Help?"
Hi Everyone,

I want to achieve a chaining method for my test cases. Is this possible?

If yes How?

My structure is I want to run the nightmare using methods.

For example:

Function login(){

}

Function addrow(){

}

function deleterow(){

}
function runtest(){
//testcase1
login()
addrow()

//testcase2
login()
deleterow()

}

[2017-09-07 01:47] TimNZ commented on #1209
How about being able to pass an optional function to .goto() that is called from the preload script before the actual page content is loaded?

[code]

[2017-09-07 01:48] TimNZ commented on #1209
Track via #1254 for time being.

[2017-09-07 02:21] TimNZ commented on #1209
Ignore above, this works now:

Nightmare({ show: true, webPreferences: {zoomFactor: 2 /* devicePixelRatio */ }})

https://electron.atom.io/docs/api/browser-window/#new-browserwindowoptions

[2017-09-07 03:05] airtoxin commented on #1255
Answer is yes.
You can use [`nightmare.use(plugin)`](https://github.com/segmentio/nightmare#useplugin) method.

[code]

[2017-09-07 03:58] jagunosra commented on #1255
I have tried to use the above but i got an error.
fn is not a function

[2017-09-07 05:20] airtoxin commented on #1255
`nightmare.use()` method accepts the function that returns nightmare instance.
So your `addNewRowToolBar()` function should also return that.

[2017-09-07 05:37] jagunosra commented on #1255
I have tried adding the nightmare return but the electron didn't pop up?

function login(id,pass){
  return function(nightmare){
     return nightmare
        .goto(baseUrl)
        .wait('.login')                         // wait until the element with class .login is on the page (that means the page loaded)
        .click('.login a')                      // click it to display login form "modal"

[2017-09-07 07:02] jch254 commented on #1155
Did anyone get nightmare running on Alpine Linux? Cheers

[2017-09-07 07:39] uLan08 commented on #1155
I haven't revisited this yet. Let us know if you're able to hack a solution.

[2017-09-07 08:01] TimNZ commented on #1253
Can you provide pseudo code of what the nightmare call chain would look like to support this?

If you don't call .end(), then nightmare doesn't end the Electron process, but I want to see how you see this .clearQueue call working in code.

Here's a pretty complex chain showing how you can conditionally branch which may work for you instead.

Note only in the final .then() do I call .end()

[code]

[2017-09-07 08:27] TimNZ commented on #1251
Look at the complex example I posted in #1253

You should be able to omit the .end() from the main chain and call it from .catch() and .then() when you finally need to end.

[2017-09-07 08:32] TimNZ commented on #1252
This works:

[code]

[2017-09-07 08:48] TimNZ commented on #1250
As per the .screenshot() action description, you can pass in an optional Rect to clip to screenshot to just a specific area of the page.

Roughly:

[code]

Checkout this discussion for pointers:
https://stackoverflow.com/questions/10721884/render-html-to-an-image

[2017-09-07 09:26] yatki commented on #1251
@TimNZ That's great. I worked for my case. Thank you very much.

For those who may need this, i solved this in my case, basically like this:

[code]

[2017-09-07 09:26] #1251 closed

[2017-09-07 09:30] TimNZ commented on #1249
Can you post the full nightmare action chain?

This works fine:

[code]

[2017-09-07 09:57] TimNZ commented on #1245
Since it works fine when the BrowserWindow is visible, it is definitely not a Nightmare issue.

[2017-09-07 10:00] cupuyc commented on #1245
Ok.
My **workaround** was to reduce the number of columns in ui-grid to avoid horizontal scroll to appear.
That helped me.
Closing, as might be electron pdf issue.

[2017-09-07 10:00] #1245 closed

[2017-09-07 10:18] TimNZ commented on #1240
What version of Electron is installed?

Works fine for me.

Don't get any console errors as display in gif after repeatedly running

Can you please provide an example app that reproduces the issue.

Regardless it is not a Nightmare issue.

[2017-09-07 10:19] TimNZ commented on #1236
Follow in #1254

[2017-09-07 10:19] #1236 closed

[2017-09-07 10:27] TimNZ commented on #593
Does handling webContents 'new-window' event solve the preload issue?

https://electron.atom.io/docs/api/web-contents/#event-new-window

[2017-09-07 10:31] TimNZ commented on #1222
The Electron docs say it will be empty if not specified.
https://github.com/electron/electron/blob/master/docs/api/cookies.md#cookiessetdetails-callback

Not a Nightmare issue.

[2017-09-07 10:41] TimNZ commented on #1218
Can you provide the stack e.g. console.log(err.stack), impossible to tell where that error is being thrown from.

Where should cov_23rlop1885 be defined/referenced?

cov_23rlop1885 must be

[2017-09-07 11:25] TimNZ commented on #1217
Works for me, what's the URL, and paste examples.
Make sure you have an up to date ver of Electron installed e.g. 1.7.x

{printBackground: true} is default in Nightmare, and is definitely being passed as an option if specified to Electron.

[2017-09-07 11:29] TimNZ commented on #1210
Nightmare.version prints fine, not defined in a nightmare instance
e.g. var nightmare = new Nightmare(), nightmare.version is undefined

I would just move Nightmare.version ref in README to static properties section, or just remove it completely..

[2017-09-07 11:36] josecybertill opened #1256 "Multiselect"
How do I set the value of a multiselect element?

[2017-09-07 11:36] TimNZ commented on #1201
Try:

fs.writeFileSync('cookies.json',JSON.stringify(...),'utf8')
var storedCookies = fs.readFileSync('cookies.json','utf8')

If you don't specify the file encoding (utf8) the contents are written as binary Buffer
https://nodejs.org/api/fs.html#fs_fs_readfilesync_path_options

[2017-09-07 11:40] TimNZ commented on #1197
Can't send DOM elements over IPC between the node process and the spawned Electron process.

[2017-09-07 11:46] TimNZ commented on #1195
Weird.

Painful to debug without being able to test against the particular page.

It's not impossible the page or Chromium/Electron is using Page Visibility API and not rendering  if hidden.

You could do an .evaluate() action and query the DOM to find '.some-selector-on-new-page', or return back the HTML of the page and see how it differs when visible.

[2017-09-07 11:50] TimNZ commented on #1256
.evaluate() and some code similar to this example:

https://stackoverflow.com/a/43255752/1494940

[2017-09-07 11:54] TimNZ commented on #1193
Can't pass functions between the node and Electron process.

Could think of some Nightmare enhancements to handle this, so provide a detailed example/scenario (code) of how you'd like it to work and I'll have a look at it sometime.

[2017-09-07 11:56] blacksagres commented on #1197
Thanks!

[2017-09-07 11:58] TimNZ commented on #1145
The DevTools will open if {show:false} but {openDevTools: {mode: 'detach' }} (maybe 'undocked' as well.
If you don't specify 'mode' explicitly devtools will re-open in the last position.

So not a bug and people just got to specify options that make sense.

[2017-09-07 11:59] TimNZ commented on #1138
Can you provide details/example of how you think this should be solved, what a solution would look like?

[2017-09-07 12:03] TimNZ commented on #1117
Could perhaps be supported via this, passing in an array of strings/regex to Nightmare options.

This look right to you?

https://github.com/electron/electron/blob/master/docs/api/web-request.md#webrequestonbeforerequestfilter-listener

[2017-09-07 12:06] adi518 commented on #1193
Not sure how does that relate to the issue? :)

[2017-09-07 12:09] TimNZ commented on #1107
There's no way of passing DOM nodes out of the Electron BrowserWindow that hosts the page.

I would recommend just using .evaluate() if you have need to do your own caching, though I am curious about what you are doing that you think there could be a performance issue? :)

[2017-09-07 12:12] josecybertill commented on #1256
Thanks @TimNZ

[2017-09-07 12:12] #1256 closed

[2017-09-07 12:13] TimNZ commented on #1193
You can't call event.preventDefault() because the preventDefault() function can't be passed back to Node, it has to be called in the Electron process, and it has to be called synchronously in the event handler in Electron for the 'will-navigate' event.

So if you want to have conditional logic that determines whether to call event.preventDefault() in response to an event, it needs to be passed as

[2017-09-07 13:11] shellscape commented on #1107
@TimNZ if we were, for instance, mapping nodes from an indirect selector, based on attribute data (would require an array of nodes, but same difference :)). throwing it back to the days of yore for a pseudo example:

[code]

Or potentially something like that. I should have included more information in the original issue because I honestly can't remember the exact use case I had in mind with this

[2017-09-07 13:42] adi518 commented on #1193
I guess. It's been some time so I have to recall. Thought I saw `event.preventDefault()` mentioned in the API docs when using the callback of this event.

[2017-09-07 14:52] johnferro commented on #1254
@TimNZ I'm interested in helping out on at least the secure javascript side of things (not as familiar with what you're trying to do in terms of having it run inside electron process).  I'd like to hear from @casesandberg or @ejcx on needing to keep the `window.__nightmare` functionality around or as the default.  As long as this changes the version to v3 I'd be in favor of getting rid of it compl

[2017-09-07 18:57] armordog opened #1258 "Feature Request: Option To Prevent Blur After Type"
I'd like to be able to call `Nightmare.type()` without Nightmare `blur`ing the field at the end.

My use case is a typeahead field. When the field loses focus, the dropdown collapses.

Ideally, I'd be able to pass an additional argument to `Nightmare.type` which causes `blurSelector` to be skipped. (https://github.com/segmentio/nightmare/blob/master/lib/actions.js#L264).

For now, I'm working arou

[2017-09-07 18:57] fluffywaffles commented on #1222
The cookie field does default to empty. The problem isn't that; it's that this behavior contradicts documentation in the README, specifically: [If cookie.url is not set, it will set the cookie on the current url](https://github.com/segmentio/nightmare#cookiessetcookie).

If this was true, then the first example I provide, where `domain` is set but `url` is not, would succeed. Unless Nightmare is s

[2017-09-07 19:52] TimNZ commented on #1222
Had a look at the Electron side code for cookie.set and it is definitely providing a URL if 'url' is not provided.

[code]

Is it possible that the first example fails because you have a protocol (https://) in domain?  You should only have the hostname e.g. '.google.com' like you have on your last example.

Perhaps Electron/Chromium does some magic on cookie.set to do this for you if the hostname

[2017-09-07 19:57] TimNZ commented on #1254
Changing it is easy and I have done it in a breaking way.

Even with the existing preload.js, sanitising what channels can be sent to would be an improvement, without breaking the current system, by implementing a wrapper around the ipc object.
This is for the default preload.js, so no-one who uses that cares how it's done anyway.

It only breaks for people who use their own custom preload, and my

[2017-09-07 19:58] TimNZ commented on #1193
Fair enough, I'm just going through old issues as I'm making my own major changes and seeing what else looks like it should be in a first cut.
#1254

[2017-09-07 20:00] TimNZ commented on #1107
Haha.  I'm going through old issues as I'm doing significant mods and seeing if anything in old issues needed attention now.
#1254

[2017-09-07 21:18] TimNZ commented on #1217
Take that back, not working, at least on google.com

Electron/Chromium issue as can confirm that {printBackground: true} is definitely being passed to Electron webContents.printToPDF().

https://electron.atom.io/docs/api/web-contents/#contentsprinttopdfoptions-callback

[code]

Have logged on Electron repo as I want it working.
https://github.com/electron/electron/issues/10466

[2017-09-08 01:13] entrptaher commented on #1240
I tried the latest versions as well as previous versions.
Tried proxies and without proxies.

[2017-09-08 01:18] TimNZ commented on #1240
If you provide a simple complete app that can reproduce the problem I will look at it.

[2017-09-08 02:48] jagunosra opened #1260 "click selector specifically"
I want to select the specific data-id: 8 (please see image below). what i want to achieve is the the component changes overtime so the selector ("#explorer-container > div.row.height-80 > div.folder-nav > div:nth-child(2) > div:nth-child(1) > div.nav-item") is not an ideal to use. how do i achieve that even though the selector changes it will still choose the data-id: 8?

![classname](https://user

[2017-09-08 03:12] jagunosra commented on #1260
var elements =  document.querySelectorAll('#explorer-container .row .nav-item .fldr-code');

         for (var i = 0; i < elements.length; i++){
              var element = elements[i];
              var elementname = element.innerHTML;
              if (elementname.includes("RLA")){
                nightmare
                **return click(); ----> click??**
              }
         }
         ret

[2017-09-08 03:36] airtoxin commented on #1260
You should use DOM manipulation library such a jquery in `nightmare.evaluate` method.

[code]

[2017-09-08 03:46] TimNZ commented on #1260
@jagunosra Mate these are really javascript/DOM queries, not Nightmare bugs or feature requests.

Please use community sites like Stack Overflow for help that is not Nightmare specific.

[2017-09-08 07:03] entrptaher commented on #1240
The above script reproduces on my end. I'll try to provide some more info.

[2017-09-08 09:23] davidkwan95 commented on #1252
okay, seems like it's a problem with the site I'm trying to automate. it works fine with other sites

[2017-09-08 09:23] #1252 closed

[2017-09-09 16:44] jagunosra opened #1261 "calling an inline action?"
i am trying to call an inline action but it returns nothing. no error.. but when i will put this action.js it worked.

[code]

`.DoubleClick('.click-qadvo')`

[2017-09-09 16:44] #1260 closed

[2017-09-09 17:19] #1261 closed

[2017-09-10 01:58] TimNZ commented on #1229
@entrptaher "Conditional actions" or something like that would be a useful section in the docs with that example.

[2017-09-10 17:33] PWAckerman opened #1262 "Electron EOF Issue in Docker Container (Not XVFB related)"
I have written a short nightmare script that executes perfectly on my local machine, but when I containerize it, I run into an issue with Electron. I have dockerized Nightmare plenty of times before, and am installing the requisite libraries and running the script with xvfb as is standard. However, once nightmare has queued its actions, I'm running into an EOF error from Electron, "EOF in backquot

[2017-09-12 15:46] ivannluz opened #1263 "Nightmare Script"
Hello guys, I'm new using javascript and nightmare so,
I was trying to do a simple script , the script needs to click on all the links on the web page
and check if the response is 200.

This is my actual code:

var  Nightmare = require('nightmare');
  vo = require('vo'),
  nightmare = Nightmare({ show: true });

var run = function * () {
  var urls = ['https://intelius.com/dir/state'];

  for (var

[2017-09-13 20:17] willclarktech commented on #801
Hi, I just tried with nightmare 2.10.0 and node 8.1.4 and I get exactly the same output for `DEBUG=nightmare:actions node repro.js`.

[2017-09-14 03:29] TimNZ commented on #1258
Hey @armordog

Looks like maintenance on this awesome library has stalled or is at least sporadic.

I'm working on a fork #1236 and will be very actively maintaining/enhancing it as I'm using it in a commercial app about to enter beta.

There is a WIP 'in-process' branch you can reference in package.json 'timnz/nightmare#in-process' that adds support for disabling blur on .type/.insert.

https://g

[2017-09-14 03:41] TimNZ commented on #1263
Use .evaluate to return array of all the links in the page you want to check and then use node net module or 'request' package to check the status of each url.

https://stackoverflow.com/a/19051457/1494940

Good/ambitious project for someone new to node/nightmare :)

[code]

[2017-09-14 19:25] sbrl opened #1264 "electron:stderr No protocol specified"
Whenever I use nightmare on a raspberry pi, I get the following error with `DEBUG=nightmare:*,electron:*`:

[code]

....while executing my script with `sudo --preserve-env -u some_user xvfb-run node ./script_name.js`.

 - `uname -a`: `Linux machine_name 4.9.41-v7+ #1023 SMP Tue Aug 8 16:00:15 BST 2017 armv7l GNU/Linux`
 - `lsb_release -a`: `Distributor ID:	Raspbian
Description:	Raspbian GNU/Linux

[2017-09-15 08:48] KingWu commented on #540
just try @sebastienbarre  way. but css still load. @AlexanderKozhevin any solution for this issue?

[2017-09-17 01:26] 1marty4sale opened #1265 "error while loading shared libraries: libXss.so.1:"
I am getting the following error when trying to run nightmare on heroku:

` electron:stderr /app/node_modules/nightmare/node_modules/electron/dist/electron: error while loading shared libraries: libXss.so.1: cannot open shared object file: No such file or directory`

Firstly, it looks like it is trying to load electron from the nightmare directory rather than the root node_modules.  From my past f

[2017-09-17 16:10] 1marty4sale commented on #1265
Sorry, seemed I didn't have the buildpacks installed correctly.  Reinstalled them and all is now working.

Thanks for Nightmare!

[2017-09-17 16:11] #1265 closed

[2017-09-17 21:13] gjspaho opened #1266 "inject momentjs - moment is not defined"
Trying to figure this out for couple of hours, but no luck.
I'm working on something similar to this:
[code]

I'm using the same script for about 20 websites, everywhere working great except one website where 'moment is not defined' pops out.
Any idea what it might be?

[2017-09-18 22:07] TimNZ commented on #1266
Hi @gjspaho

Very unlikely a Nightmare issue, but try providing the URL for the one website that has the issue if you want someone to spend their precious time helping you.

[2017-09-18 22:11] TimNZ commented on #1264
Post on Stack Overflow, more likely to get a response from someone who is using Electron under xfvb.

Not a Nightmare issue.

[2017-09-20 08:38] xblanc33 commented on #1097
I have the same error with 2.10.0
Can't understand why.

[2017-09-20 12:56] sweinertjr commented on #1262
Have you added `node_modules` to your `.dockerignore` file? It looks as though you're trying to use the MacOS binary inside your docker container, which isn't going to work out very well!

[2017-09-20 17:06] jg123 commented on #1180
@Burning-Chai `apt install ttf-freefont`
I had the same output as you. Fix found here: https://github.com/Chatie/wechaty/issues/235#issuecomment-277627400

[2017-09-21 05:58] Khady opened #1267 "Support of proxy-pac-url"
I try to configure nightmare with the `--proxy-pac-url` switch. However, I don't manage to get something else than an error:

[code]

My pac file is very simple and works with chromium:

[code]

If I the proxy address in a `--proxy-server` switch, it works without problem.

I don't think the pac file is even loaded. Any idea? Electron is supposed to support proxy-pac-url: https://github.com/electr

[2017-09-21 06:02] Khady commented on #1267
Support for proxy-pac-url seems to bome from this PR:
https://github.com/electron-archive/brightray/pull/123
https://github.com/electron/electron/issues/1599

Is it too "recent" for nightmare?

[2017-09-21 07:40] Khady commented on #1267
Here is how electron appears in my htop:
[code]

[2017-09-21 09:34] KuoKongQingYun opened #1268 "can nightmare load NPAPI plugins?"
Some websites need npapi plugins to login,but it seems like that nightmare don't load npapi plugins.

[2017-09-21 17:39] PWAckerman commented on #1262
Y'know, I assumed at the time that that was the source of the issue, but couldn't justify to myself why NPM would be installing and/or using the MacOS binary as I was watching the output of NPM as the image was created. It's clear now that NPM was installing the correct binary, but `node_modules` was being overwritten by `ADD . /app` in the Dockerfile. Adding the `.dockerignore` worked. In the pas

[2017-09-21 17:39] #1262 closed

[2017-09-22 06:54] gmunisifreddy opened #1269 "installation fails on build server - failed to find Electron v1.8.0 for linux-x64"
When we build one of the apps that uses nightmarejs on a linux CI server, i get the following. Any suggestions on how to solve the issue?

[code]

[2017-09-22 07:43] atkinchris commented on #1269
This is due to Electron `v1.8.0` being deleted from GitHub, apparently due to a security vulnerability. (https://github.com/electron/electron/issues/10574#issuecomment-331373344)

Restricting Nightmare's dependency to an existing version would resolve this (or waiting till Electron publishes `v1.8.1` - but there's no ETA for this).

[2017-09-22 09:24] atkinchris commented on #1269
I've raised https://github.com/segmentio/nightmare/pull/1270 to pin the version of Electron to the latest stable (`v1.7.6`).

[2017-09-22 15:19] justinmchase commented on #540
The filter method does work you may just have to adjust your filter.

Here is the mozilla documentation on how to formulate your filter:
https://developer.mozilla.org/en-US/Add-ons/WebExtensions/API/webRequest/RequestFilter

This worked for me in my case:
[code]

[2017-09-23 15:34] BigKongfuPanda opened #1271 "print html to PDF : problems with table display in PDF"
Hi , when printing html to PDF,  there is a problem which is some th of a table displayed repeatedly inside the table, the repeated th would like to locate at any where in the table. There are two pictures as follow:
![image](https://user-images.githubusercontent.com/16985024/30774586-7fa4b4a8-a04a-11e7-97da-dbdabffd0056.png)
![image](https://user-images.githubusercontent.com/16985024/30774593-b19

[2017-09-25 00:38] wnxhaja opened #1272 "Error: Failed to find Electron v1.7.8 for linux-x64"
I tried to install the nightmare on my local project and I get this error:

`Error: Failed to find Electron v1.7.8 for linux-x64 at https://github.com/electron/electron/releases/download/v1.7.8/electron-v1.7.8-linux-x64.zip
`

Which is correct since electron for linux is not yet supported in version 1.7.8
https://github.com/electron/electron/releases/tag/v1.7.8

Any suggestion?

[2017-09-25 00:42] ergose commented on #1272
In the same boat. Related to this: https://github.com/electron/electron/issues/10595

[2017-09-25 01:43] wnxhaja commented on #1272
This will probably take time. Should we do PR to change the version of nightmare's electron to ~1.6.X?

[2017-09-25 03:38] #1272 closed

[2017-09-25 05:09] Burning-Chai commented on #1180
@jg123 Thank you very much.
I can solve this problem. I made run correctly.

[2017-09-26 19:55] pwaldo2 opened #1275 "Iteration over pages pulls inconsistent records"
I have done a bit of scraping in Python, but wanted to get my feet wet with Node. Nightmare has fit the bill nicely. However, I am running into a strange problem. In this LinkedIn example, I expect 10 records per page, but sometimes I get 5, 6 or 7 per page. I can't quite get my head around it. I have an example that scrapes one page and it works just fine. It's only when I use VO that this issue

[2017-09-26 20:50] #1275 closed

[2017-09-27 20:29] idchlife opened #1276 "Did anyone experience docker killing process with nightmare? Comment has error, output etc"
I have a process which uses nightmare to do some stuff, here is output of ctop:

![image](https://user-images.githubusercontent.com/4563032/30935542-afe0be5e-a3d9-11e7-8f03-54c9d5f16a41.png)

Right when nightmare tries do do stuff, creates instance of electron it dies like that:

![image](https://user-images.githubusercontent.com/4563032/30935694-1f198698-a3da-11e7-8d73-96c388bf62d9.png)

SIGINT

[2017-09-28 10:57] idchlife commented on #602
Hey guys, so for running nightmare in docker or server you need to install npm xvfb and always include it and use it?

[2017-09-28 18:59] allenhwkim opened #1277 "SyntaxError: Unexpected token import"
I followed README.md, and I got the above error.

Should it be this?
[code]
instead of
[code]

[2017-09-29 12:51] rip747 commented on #1037
Is it possible to reopen this ticket and just have nightmare tell us what selector was causing the problem? As mentioned, this error occurs when it is trying to focus on an element that doesn't exists. So if I try doing an insert("input[name='email']", "myemail") but there is no input with the name "email" I will get the error. It would be awesome if the error message could be:

Error: done() invo

[2017-09-30 20:19] TomAshley303 opened #1278 "Not able to pass return to .evaluate()"
resolved on my own/my error.

[2017-09-30 22:56] TomAshley303 opened #1279 "Evaluating Document Hangs"
Running the following code:

[code]

I get: Error: Evaluation timed out after 30000msec.  Are you calling done() or resolving your promises?

I can't find any way to resolve this.

[2017-10-01 09:32] airtoxin commented on #1279
Try this.

[code]

[2017-10-01 09:33] airtoxin commented on #1278
Please close issue

[2017-10-01 19:14] TomAshley303 commented on #1279
Thanks but same error :( If I remove the innerhtml call it returns all the results to `result`. I need to add those links to the page though.

[2017-10-01 20:42] gtleal commented on #1277
Precisely! @allenhwkim

[2017-10-01 22:12] TomAshley303 commented on #1279
I got it working by instead using `appendChild`.

[2017-10-01 22:12] #1279 closed

[2017-10-01 22:14] TomAshley303 opened #1280 "Nested Commands Within Evaluate"
I can't figure out how to do nested commands for Nightmare. Consider the following code:

[code]

It doesn't work. I think because it's executing the click in the document context. How should I go about something like this?

[2017-10-03 07:19] TomAshley303 commented on #932
This isn't working for me. I'm trying to use it to backspace pre-existing text in an input box. I also tried sending PrintScreen as a test just to see if the action is working but that didn't work either:

[code]

[2017-10-03 07:22] TomAshley303 opened #1281 "Can't Send Special Keys"
I'm trying to send special keys such as the right arrow key but I can't get it to work. I found a closed issue here about it but the code there isn't working for me. I have posted my code in that issue for reproducing: https://github.com/segmentio/nightmare/issues/932

[2017-10-04 06:07] bm-stschneider commented on #1277
or you have to use babel-cli -> babel-node

[2017-10-05 02:07] TomAshley303 opened #1284 "Can't use Nightmare inside functions"
I keep running into errors. I'm trying to to a `request` to get data from a remote API and then use that data with Nightmare...

[code]

This gives me `unexpected identifier 'nightmare'`. How can I get this working? It's driving me crazy.

[2017-10-05 02:09] TomAshley303 commented on #1284
If I remove `yield` I get `TypeError: Cannot read property 'goto' of undefined`

[2017-10-05 04:23] TomAshley303 commented on #1284
I got it to work by using `request-promise`

[2017-10-05 04:23] #1284 closed

[2017-10-05 17:17] TomAshley303 opened #1285 "Using Nightmare in a Loop in a Promise .then()"
I've been trying to get this working for a day now. I need to do something like this:

[code]

I'm trying to work with a result from `request-promise` and then loop through those results and work on them. If I use code like this, it iterates through all the nightmare actions really fast without waiting for them to finish. I can't use yield in .then(). I keep running into problems like this where I

[2017-10-05 19:42] TomAshley303 commented on #1285
An answer was given to me here but I feel like it could have been simpler: https://stackoverflow.com/a/46578051/1390723

[2017-10-05 20:44] tambu22 opened #1286 "Cant run on ubuntu"
that whats happening when trying to run it.
[code]

code:

[code]

[2017-10-07 01:12] emcniece commented on #969
This is possible - I am in the process of migrating from CasperJS/PhantomJS to Nightmare.

The trick with getting proper dimensions for mobile is CSS scaling the page for the right screen size. Nightmare lets us set the `useragent` and `viewport`, so along with this you can `evaluate` and modify the body class to format scale for each platform.

Here are my scale styles:

[code]

... and here are

[2017-10-07 20:46] joeblew99 commented on #969
@emcniece nice.

If i get the big picture here the problme is that the DPI for mobile apps is too high to fit on a desktop screen for testing ?

I was using Electron but started using a light weight one designed for golang.

here it is:
github.com/zserge/webview

its written in c++, with a goalng wrapper.

It uses the Desktops native Browser and so work on Windows 10 store apps, as Microsoft limit

[2017-10-08 07:09] Steveorevo opened #1287 "How to remove "shift/bump" from hidden Electron OS X dock icon"
It's a minor thing but the dock "shifts/bumps" a few pixels when the Electron process enters memory and exits. I thought I'd post this because others might notice or be looking for a workaround. However, the workaround will permanently hide the Electron process icon completely. This "patch" disables the ability to pass the dock/true option (i.e. = Nightmare( {dock:true} ); as it will always be tot

[2017-10-09 17:41] Howardwlo commented on #955
@Mr0grog I'm running into this issue and I'd love to get the PR :). What's this about headless Chrome?

[2017-10-09 17:44] Mr0grog commented on #955
The Segment folks are rewriting this library to use Chrome (headless) and not Electron, so the way a lot of stuff like this that heavily depends on the API for *controlling* the browser will have to be completely different.

[2017-10-10 07:25] entrptaher commented on #1285
Can you give me the actual api link, so I can provide you the answer with some working screenshots? The answer is pretty simple actually. You just need to make sure all actions are running one after another in the loop.

Otherwise, you can follow this example.
[code]

[2017-10-10 18:50] rip747 opened #1289 "new window and login cookies"
First, I want to thank you a million times for creating nightmare, it is a GOD send for frontend testing.

The issue I have is when a new window is spawned through a target="_blank". If (for instance) I am logged into an administrative area of a site, the new window spawns by it seems that all the cookies are reset since the user is logged out and thrown to the frontend of the site.

Is there some

[2017-10-10 19:19] iamdubx opened #1290 "Why cookies is not set up?"
I tried this, but got no cookies

[code]

[2017-10-10 20:43] #1290 closed

[2017-10-10 20:43] iamdubx opened #1291 "Can I use evaluated data in scrollTo?"
I need to scroll to Bottom. What is the best way of doing that?

[2017-10-10 23:00] iamdubx opened #1292 "How to scroll specific element?"
For example, I want to execute this

[code]
How it can be done? It's just one line in JS. All this evaluated stuff seems so overkill for such task. Is there any other way?

[2017-10-10 23:02] iamdubx commented on #1142
What if I just need this `document.querySelector('.PermalinkOverlay').scrollTo(0, 1000)`

Code snippet above seems too much for such stuff. Can anybody help me hot to scroll specific el?

[2017-10-10 23:14] iamdubx commented on #1142
This one doesn't work

[code]
`document.querySelector(...).scrollTo is not a function`

[2017-10-10 23:15] iamdubx commented on #1292
I tried this, but got an error

[code]
`document.querySelector(...).scrollTo is not a function`

[2017-10-11 17:55] Howardwlo commented on #955
@Mr0grog Oohhh. Are there updates about the switch to Chrome somewhere?

[2017-10-11 20:46] Mr0grog commented on #955
I think it’s on the v3 branch. I don’t know any details beyond what I’ve already stated, which was what @casesandberg told me in a reply on another issue (lost track of it now).

[2017-10-13 12:51] danielsalles opened #1293 "Does not select element"
[code]
`return null`

![return to return](https://image.ibb.co/bUuFow/Captura_de_tela_de_2017_10_13_09_49_15.png)

But when change `return document.getElementById('ctl00_cphContent_gdvResultadoBusca_gdvContent')` to `console.log(document.getElementById('ctl00_cphContent_gdvResultadoBusca_gdvContent'))`

![return to console.log](https://image.ibb.co/eWbZgG/Captura_de_tela_de_2017_10_13_09_46_04.png

[2017-10-15 10:47] smallcar88 commented on #813
@armynante Thanks! Your suggestion works for me!

[2017-10-15 13:41] soitgoes opened #1295 "thead causes improper padding above the table. v2.10.0"
Reproducible with the following.  There is 20-30px of padding or margin above the thead that cannot be removed.  (Noticed this in html5-to-pdf)

[code]

[2017-10-17 01:34] xzycn opened #1296 "Can't make session persistence surely"
At some time ,it works, but at most time , it dosen't work, this issue make me confused, could you please help me figure this out?
[Here ](https://gist.github.com/xzycn/91be61decd8575d997a3fdb031a1d53f)is the code.

[2017-10-17 02:26] thandonguocmo2020 commented on #1174
thanks

[2017-10-17 17:04] mexin opened #1297 "Recommendations regarding electron on non-self managed PaaS?"
Hello, I was wondering if there's a way to use an electron compiled version with all system dependencies on a non-self managed service like Meteor's Galaxy? is it even possible to do this? get a "portable" version of electron to be able to run? Thing is that we cannot install anything on their PaaS and the tests we have done locally we just liked better nightmarejs instead of phantomjs (speed wise

[2017-10-18 14:42] mateuszroth opened #1298 "How to use async/await syntax with .use() method"
I can't find an answer to my issue so I have to ask here.

I have got a single file with several functions and a Nightmare's instance used in every function. Code uses async/await syntax. Something like:
[code]
I want to split this file into files with separated functions and I know that I have to use Nightmare `.use` method to pass Nightmare's instance correctly.

I've tried:

[code]
and then in

[2017-10-19 01:01] Steveorevo commented on #1071
Any ideas on how to prevent a new Window from popping up. We have a number of links where target="_blank". For simplicity, staying in the same window and preventing new-window would be swell.

[2017-10-19 02:44] avimar commented on #1071
@Steveorevo -- a workaround is to rewrite the target inside an `evaluate` before clicking the link.

[2017-10-19 12:11] entrptaher commented on #1071
@avimar, that does not help much if there is some event attached on that element by some other script.

[2017-10-19 18:27] garibay commented on #1292
Why not something like:

[code]
`yield nightmare.scrollTo(coordinates[0], coordinates[1]);`

Or I suppose the same method could be used to do it all from within the `evaluate` call.

[2017-10-19 21:43] Steveorevo commented on #1071
Thanks. For scripts no; but I did follow your suggestion by attaching a script to preload.js that could be invoked prior to anchor link clicks:

[code]

[2017-10-20 04:02] EasonWang01 opened #1300 "forEach and loop"
Have try several method including pass evaluate callback and using `then` also read this article https://github.com/rosshinkley/nightmare-examples/blob/master/docs/common-pitfalls/async-operations-loops.md

but still not get the foreach to works,is there any problem of the code below?

[code]

[code]

[2017-10-20 05:28] Vineeth-Mohan commented on #763
@qsdqdqdsqd and @jontonsoup - Guys please advise on how this is done. When nightmare visits a site say https://ctrlq.org/maps/where , i want it to find me at the required location.
Following is what i did and it did not work -

[code]
[code]
Please advise how can i achieve the same

In the UI it was pointing to some other place

[2017-10-20 20:15] keithkml opened #1301 "Allow listening for `end` event"
I'd like to automatically save screenshots after every test. We already have a `createNightmare` helper function which sets window size and injects some HTTP headers. So a nice way to save screenshots would be for that helper function to add a listener for when `end()` is called call, right before Nightmare terminates the Electron instance.

Looking at the Nightmare source code, it appears that th

[2017-10-21 08:08] kensoh opened #1302 "General query - what are common test assertions used?"
Hi Maintainers and guys, may I check from you what are common assertions that you use in your test automation? Eg check that element contains text, check element exists etc. Crowdsourcing inputs for test assertions support for a personal project. This is not an issue, please feel free to close if irrelevant.

In that project I made a wrapper around CasperJS but as CasperJS has no support for visib

[2017-10-21 16:29] garibay opened #1303 "Nightmare hangs on vo error."
I created a simple proxy testing script that's supposed to verify that a proxy works against a particular URL.  If the connection isn't successful within 10 seconds, it's supposed to time out and return a response indicating that it failed.  It works sometimes, but at other times it hangs.  It doesn't seem to make a difference whether it's an http proxy or a socks proxy, or whether or not basic ht

[2017-10-21 16:56] garibay commented on #1303
I tried modifying the script to not use `vo`, but I still see the same behavior (just without the `TypeError` error message):

Here's the changed part of the script (in place of the `vo` call):

[code]

And this is what I see in the console output:

[code]

[2017-10-21 19:00] garibay commented on #1303
Okay, let's file this one under 'premature reporting' (I swear this has never happened to me before).

I found the problem, and it has nothing to do with the Nightmare script.  The script that calls the Nightmare script (via a `fork` call) uses a timeout so that if the forked child process is still running after 30 seconds, it gets killed.  There was a typo in one of the commands related to that:

[2017-10-21 19:00] #1303 closed

[2017-10-23 09:23] chalecao commented on #1155
i got the error
"stdin: is not a tty"

[2017-10-23 16:26] DonBras commented on #602
for getting electron run with xvfb on a headless ubuntu 16.04 system i needed to install following packages:
`sudo apt install libasound2 libgconf-2-4 libgtk2.0-0 libxss1`

[2017-10-24 10:03] StefanRoess commented on #810
I have a frame item, like:
 const fi_customer = await frame.$('#fi_customer');
 await fi_customer .type('Customer_Name', {delay: 20});

How can i clear the value for fi_customer before i fill in a new value of 'Customer_Name'.
Currently the values will appended like, 'Customer_NameCustomer_NameCustomer_NameCustomer_Name' etc.

Any suggestions.

[2017-10-24 12:26] saselovejulie commented on #908
really help me alot, thank you

[2017-10-24 15:29] brw31415 opened #1304 "freenode channel?"
It would be nice to have.

[2017-10-25 07:35] idchlife opened #1305 "nightmare electron child process exited with code 1: general error - you may need xvfb"
I know this issue was "kinda" already posted, but there is situation when I have everything needed for electron to run with xvfb (as I see it) and still electrons shuts down asking for xvfb.
I even started writing "new Xvfb xvfb.startSync() ... ... xvfb.StopSync()" everywhere but still, some processes shuts down with "you need xvfb" error.

This is my dockerfile config for installation of all need

[2017-10-25 07:59] saselovejulie commented on #763
@Vineeth-Mohan do you find out the issue?
this geo location mock up can't work on my side too

[2017-10-25 08:26] saselovejulie opened #1306 "how to mock geolocation and let google use it?"
i have tried this
[code]
but nothing happened, looks google still use my IP address location, not the position i mocked.
please help me, thanks

[2017-10-25 20:11] martinpitt commented on #1169
I pulled my hair out for an hour or two, too, so for posterity:

I already called the injected function in an ES6-style `{} => {  myfunc() }`, but it also needs to be *defined* like that:
[code]

I previously had
[code]
which does not work.

[2017-10-26 00:42] entrptaher commented on #1039
Happened to me several times on version 2.8.0, will try latest version to see if anything changes or not.
![image](https://user-images.githubusercontent.com/8284972/32029825-c64a8170-ba18-11e7-897c-e9832f28c655.png)

[2017-10-26 08:04] saselovejulie opened #1307 "change preload script on the fly?"
as the title, is there any way to change preload script without kill and restart a nightmare instances?
or is there able for execute some javascript code before window.onload finished?
thanks

[2017-10-26 17:06] misbach commented on #402
@rosshinkley I can't get your script to run. It gives the following error: "Cannot read property 'focus' of null". Does it still run for you?

[2017-10-26 17:41] luanpotter opened #1308 "Intercept all request"
Hey,

I was wondering if there was an easy way to intercept all requests, that is:

 * all request made directly via `.goto('url')`
 * all requests made by the browser thereafter, like images it fetched, <script> tags, css, anything
 * all requests made via AJAX (i.e., `XmlHttpRequest`) by the pages

That is, I want to intercept all request that would show up in the Network tab of Chromium.

By in

[2017-10-26 21:17] misbach commented on #402
Nevermind, I just had to update the script a bit.

[code]

[2017-10-27 13:18] lai32290 commented on #1306
This seems work for me
[code]

[2017-10-27 13:22] saselovejulie commented on #1306
@lai32290 hmm. don't know why, not work for google.com, only use preload script work.
could you try query "hotels" on Google.com and see if google use this mock location?

[2017-10-27 13:23] lai32290 commented on #1300
Where are you trying to use `forEach` in the code?

[2017-10-27 13:34] lai32290 commented on #1300
I usually create a function like this:
[code]

I haven't test this code, but you can do something like this.

Observation: `Async await` is only working for new node version.

[2017-10-27 17:51] lai32290 commented on #1277
This issue probably is not reference `Nightmare`, but is about Node.

[2017-10-27 19:15] lai32290 commented on #1306
@saselovejulie , I got it, I think that maybe is not possible, probably google is getting your location by IP address.
You can try to use VPN to make a test.

[2017-10-27 23:37] #1300 closed

[2017-10-27 23:39] EasonWang01 commented on #1300
thanks will try it later.

[2017-10-28 10:43] lai32290 commented on #1300
@EasonWang01 , my bad, if you execute the function called in `for of` by `await`, it'll wait for each one execution to run the next one.

The code will be like this:

[code]

[2017-10-31 00:18] Macxim commented on #402
@misbach I'm still missing the last page, even with the updated script.

[2017-10-31 10:26] punkkk opened #1309 "Browser does not want to start"
Hello!
Why my js ends without any actions if i write something like
` this.proxyNightmare.authentication(login, password)
            .goto('https://www.maxbet.com') `
But if i use:
` this.proxyNightmare.authentication(login, password)
            .goto('https://www.maxbet.com')
            .then() `
it's okay. I've spent a hour to realize it. :(

[2017-11-01 02:30] saselovejulie commented on #1306
use preload script function solve this problem.

[2017-11-01 02:31] #1306 closed

[2017-11-01 02:32] saselovejulie commented on #1307
just update the preload file will solve this issue

[2017-11-01 02:32] #1307 closed

[2017-11-01 09:00] epleterte commented on #1277
This issue _is_ about Nightmare documentation, though. The Usage section says to run the exampls js with `node`, which doesn't work (out of the box). I'd expect a hint about babel, or I'd expect the example to use `require` instead of `import` (so that the example works).

[2017-11-01 09:10] lai32290 commented on #1277
@epleterte , make sense, I agree with your point.

[2017-11-02 07:14] RejinR opened #1310 "My webpage isn't loading when running the test (Ubuntu)"
I was just trying out nightmare js and it seems like my wepage isn't loading for some reason. The title of the window and all changes according to my webpage, but nothing is shown on screen.
I checked out the network calls and it looks like some the chunked js files are not loading.. Network call is pending.
I then put up the same website in a virtual box and it worked.. I did a few tests. The nex

[2017-11-02 09:14] thomashaenig opened #1311 "shortcut functionality"
Hi,
i would like to use your framework for UI test. At this point i think there is no possibility to test shortcuts like "ctrl + alt + 84" (the number ist the keycode) with this framework. i can make a pull request for that, or would you prefer, that i use the Nightmare.action functionality for that?

By the way, i think this is a great framework.

Thomas

[2017-11-03 08:06] yanlee26 commented on #147
I think nightmare does something pretty cool!

[2017-11-05 06:46] knoxcard commented on #1309
This is because it returns a Promise. Read up on Javascript Promises.

[2017-11-05 14:44] punkkk commented on #1309
so what the different between handled promise or not? i can put some commands like
[code]
And if i didnt type `.then()` or `await` it will not work  it will not do anything.

[2017-11-06 23:23] marcelodelta opened #1312 "How to use halt ()"
How to use halt()

I'm having trouble with this.

I'm using Express

[code]

[2017-11-07 02:20] jimmaay opened #1313 "Nightmare continues on before meta redirect happens"
Code that goes to a page that gets redirected through a meta redirect like

`<meta http-equiv="refresh" content="0; url=redirect.html">`

the code continues past goto right after the page loads but before redirecting. Nightmare should probably act as if a redirect happened - e.g. 301/302.

[2017-11-07 08:44] idchlife commented on #602
@jamesaspence after all this, did you solve this problem with nightmare or did you start using another library?

[2017-11-07 16:51] jamesaspence commented on #602
@idchlife I think (?) I got it working? Sorry I forgot to update this - I'll see if I can dig up some code. This was at a previous company so I'm not positive I'll be able to get access to the code and see how I resolved it.

[2017-11-08 03:02] TimNZ commented on #1309
Only .end() and .then() trigger the action queue to be processed.

[2017-11-08 03:06] TimNZ commented on #1313
Reasonable to expect that.

You could add a .wait(<seconds>) to the action chain after the .goto

Nightmare does no parsing of page content to detect this.

.goto() ends when Electron says the page has finished loading, and the next nightmare action gets executed.

The meta redirect will be executed after page finished loading event.

[2017-11-08 09:33] idchlife commented on #1050
@sbacic exactly what I was looking for! Thanks!

[2017-11-08 09:39] idchlife commented on #602
@jamesaspence thanks! Resolved it too.

For anyone looking to solve this you may need xvfb problem check

https://github.com/segmentio/nightmare/issues/224#issuecomment-182470015

If you are using pm2 as I am, add env variable "DISPLAY": "xfvb_used_display_in_sh_script"

You need to use .sh script for every pm2-docker start or pm2 start command.

In this .sh script you will need FIRST to start xvf

[2017-11-08 15:31] legraphista opened #1314 "Issues with promise returns."
Given the following code, here are some examples where nightmare returns as `undefined`
[code]

[2017-11-08 15:45] blacksagres commented on #1070
Is there any update regarding this issue? Even with the empty evaluate I still can't get past the error. I use nightmare to run some end to end tests, and they now fail returning the `navigation error` due to an redirection coming from the authentication layer I implemented.

Not sure if it's relevant but what happens is that the routes are protected and redirect the user to office 365 login if th

[2017-11-08 15:55] legraphista commented on #1314
As a workaround, it can be encapsulated in an object before returning from an async function:
[code]

[2017-11-10 01:19] zanedb opened #1315 "Search in page on Nightmare?"
Hi,

I was wondering if there was a way to "search" the page (similar to pressing Ctrl+F in Chrome), and automatically click on a link with that text in it.

I cannot find any API to search the page, and help would be appreciated. Thanks!

[2017-11-10 01:20] minyoungk opened #1316 "How can I make nightmare click a selector with ".""
I've been trying to make nightmare click a button using selector.
that button has id that name is "info.test.a"

so I write as .click('#info.test.a')
but that doesn't work. doesn't find a focus.

How can nightmare click that?

[2017-11-10 03:08] zanedb opened #1317 ".wait() timed out after 30000msec"
I'm getting the following error when attempting to run `.wait(40000)`:

    Error: Error: .wait() timed out after 30000msec
    at Nightmare.<anonymous> (D:\code\nightmaretest\node_modules\nightmare\lib\actions.js:382:14)
    at ontimeout (timers.js:475:11)
    at tryOnTimeout (timers.js:310:5)
    at Timer.listOnTimeout (timers.js:270:5)

This seems to indicate a timeout. Is this intentional or a

[2017-11-10 03:29] airtoxin commented on #1317
Use `waitTimeout` parameter https://github.com/segmentio/nightmare#waittimeout-default-30s

[2017-11-10 04:23] zanedb commented on #1317
Thanks!

[2017-11-10 04:23] #1317 closed

[2017-11-11 23:52] 6pm commented on #1315
Try to evaluate:
`.evaluate(() => = document.querySelector('.body').textContent..indexOf('search query'))
  .end()`

[2017-11-12 00:10] 6pm opened #1318 "[Question] How to scrape and rename images?"
It is possible?

[2017-11-14 05:51] zanedb commented on #1315
What is the `=` after the `=>` for?

[2017-11-14 05:51] zanedb commented on #1315
Also, it doesn't seem to actually click the element. Is there a way to do that?

[2017-11-15 08:10] kamblehr opened #1320 "Intercept and modify contents of a request header with Codecept"
I want to intercept and modify a request header something by using https://www.npmjs.com/package/nightmare-webrequest-addon or by writing own api as below

[code]

But somehow it is not  .action() getting called. Am I missing anything or doing wrong?

Thanks in advance..!

-Harshal

[2017-11-15 10:28] nitairoy commented on #933
Dear jekku,

I have the same kind of error:

(node:71403) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): [object Object]
(node:71403) [DEP0018] DeprecationWarning: Unhandled promise rejection are deprecated. In the future, promise rejections that are not handled will terminate the Node.js process with a non-zero exit code.

I am using the Node version: v8.2.1

You

[2017-11-15 20:15] reggi opened #1321 "Unexpected end of JSON input while parsing near '...smB98GZzkf6ZRNn6N8/Ym'"
im getting error on install

569 http fetch GET 304 https://registry.npmjs.org/@types%2fnode 31ms (from cache)
570 silly fetchPackageMetaData error for @types/node@^7.0.18 Unexpected end of JSON input while parsing near '...smB98GZzkf6ZRNn6N8/Ym'
571 verbose stack SyntaxError: Unexpected end of JSON input while parsing near '...smB98GZzkf6ZRNn6N8/Ym'
571 verbose stack     at JSON.parse (<anonymous

[2017-11-15 22:10] hhrogersii commented on #498
In case this might help anyone running into an aspect ratio problem, I was struggling with a vertical increase in aspect ratio with:
[code]
After adding ``frame: false`` to the Nightmare instantiation my problems went away.

[2017-11-15 23:09] reggi opened #1322 "How does one use evaluate and cookies.get and return both values?"
I need to get both the return value from the `.evaluate` clause and I need to get the cookies from the request?

[code]

[2017-11-16 05:25] aamorozov commented on #1316
have you tried button[id="info.test.a"]

[2017-11-20 14:57] lai32290 opened #1323 "Nightmare is not able to open Whatsapp web"
I tried to open Whatsapp web by `Nightmare`, but it's keeping initial loading, it's not able to show up the conversation list and QR code.

I checked the browser's console, but there has no any error.

Someone had same problem? Should I add some option to let it work?

[2017-11-21 08:54] yanlee26 opened #1324 "about mocha"
`  Load a Page
    / (Home Page)
      1) should load without error

  0 passing (3s)
  1 failing

  1) Load a Page / (Home Page) should load without error:
     Error: done() invoked with non-Error: {"message":"navigation error","code":-111,"details":"ERR_TUNNEL_CONNECTION_FAILED","url":"https://gethoodie.com/"}
      at process._tickCallback (internal/process/next_tick.js:103:7)
`

[2017-11-21 16:30] silentHoo opened #1325 "Need to use .wait(100) otherwise getting flaky tests"
I'm running some tests where I need to get the some DOM information. The tests are really flaky (successing/failing) in random. It seems that there are some timing issues I don't have in mind when writing tests.

**My environment is:**

* node v8.2.1
* nightmare v2.10.0

This is how I write the tests:

[code]

**index.html**

[code]

Is this the intended way to communicate with the DOM? I want to

[2017-11-22 03:52] blindhover commented on #1323
nightmare's default preload has prevent 'onunload' and 'onbeforeunload' from being set in the browser.

[2017-11-22 09:20] lai32290 commented on #1323
understood, is possible to disable this feature? because I had a look at the [options list](https://github.com/electron/electron/blob/master/docs/api/browser-window.md#new-browserwindowoptions), but there has nothing about it.

[2017-11-22 09:39] blindhover commented on #1323
@lai32290 maybe you can just modify the default preload and use it as your own custom version.
have a look at [https://github.com/segmentio/nightmare#custom-preload-script](url)

[2017-11-22 09:53] blindhover commented on #1316
@minyoungk "#info\\.test\\.a"

[2017-11-22 10:26] asanchezgiraldo commented on #1305
I am also getting this error intermittently.

[code]

I am running my test using testcafe version 0.17.1 with nightmare as a browser in a Centos box

[code]

[2017-11-22 20:39] daltoncabrera commented on #1289
Hello, you have done great work, thank you very much. I'm facing this problem, any workaround?

[2017-11-23 10:01] Hanterdro commented on #1325
I had today a similar problem. I fixed it by adding a wait condition after the refresh:

[code]

[2017-11-23 11:00] jokyme opened #1326 "how to embed nightmare inside electron as webview?"
i want to embed nightmare inside electron as a webview, i have tried this:  https://github.com/TimNZ/nightmare

but it's not work, Google home page can be loaded normally, but it does not type anything or click button, and not error output.

[code]

[2017-11-23 12:52] Bleser92 opened #1327 "Wait is called only at the first iteration."
[code]

I'm trying to implement an action at which certain field filling operations occur. At the end of all actions, there should be a click on the button that will return me to the original state of the site. All this should happen in a loop, but in fact the code is triggered only once, after which I get an error: `Error: .wait() timed out after 30000msec`

[2017-11-23 17:55] TimNZ commented on #1326
I'll have a look at this next week.
I haven't pushed the latest into the fork.

Also, you need to use the 'in-process' branch.

[2017-11-24 03:22] thanhbinh710 commented on #207
How do i select an option when the value of the option is an object?

I'm trying to write a test script for an angular site. This is what the rendered HTML looks like

`<select class="select_input" ng-model="mainCtrl.data.company" required>
<option value="?" selected="selected"></option>
<option label="option-abc" value="object:16">option-abc</option>
<option label="option-xyz" value="object:17">o

[2017-11-24 05:31] Bleser92 commented on #1327
The problem is solved with the help of: `nightmare.refresh()`

[2017-11-24 05:31] #1327 closed

[2017-11-24 05:50] jokyme commented on #1326
yes, i'm using the 'in-process' branch. and it's not work with webview.
could you please help to push the latest version of 'in-process' branch into the fork at today or this weekend? thanks!
On the other hand, i also send you an email about this issue at yesterday.
@TimNZ

[2017-11-24 07:57] TimNZ commented on #1322
[code]

[2017-11-26 01:12] TRiBotWillB opened #1328 "Certain page doesn't load, only using proxy..."
When trying to visit a certain page, it simply fails to load and times out, this is what I've tried:

-Clearing cookies / cache on each instance
-Loading page without proxy (Works)
-Loading page with proxy, on browser (Works)
-Using a separate partition for each instance

I get the following error:

`(node:11984) DeprecationWarning: Unhandled promise rejections are deprecated. In the future, promi

[2017-11-26 02:52] amokan commented on #1328
A couple things to verify (I crawl at a massive scale for a living, so i'm dealing with this stuff 24/7)

* What user agent string are you using? If not providing one, most large sites will block you real quick.
* Did you test in curl using the proxy IP? `curl -L -x <proxy ip>:<port> --user-agent "<user agent string here>" "<url>"`

How are you running nightmare? Headless? I run into error 7 (the

[2017-11-26 02:59] TRiBotWillB commented on #1328
This is the user agent I'm using:
`Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/61.0.3128.0 Safari/537.36`

I'll test it in curl and get back to you!

[2017-11-26 18:13] amokan commented on #1328
@TRiBotWillB Weird. I'm currently connected through one of my proxies and cannot hit adidas.com at all... and i've never crawled them before. They must be real aggressive on crawling.

[2017-11-26 18:20] amokan commented on #1328
@TRiBotWillB Interesting thing is it works fine through Safari. But not Chrome. Clearly they are trying to prevent something. Maybe give a different user agent a shot (one that is not chrome).

This UA string worked for me inside Chrome

`Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_1) AppleWebKit/604.3.5 (KHTML, like Gecko) Version/11.0.1 Safari/604.3.5`

[2017-11-26 22:36] TRiBotWillB commented on #1328
I was able to both pages using the user agent provided, thanks!

[2017-11-27 01:01] TRiBotWillB commented on #1328
I decided to grab the user agent from my chrome browser which appears to be newer than the one I was using and it is working fine now..

[2017-11-27 21:22] Bertik750 opened #1329 "cookies.set(array) not working"
it is written that you can set cookies using cookies.set( array ) and putting inside an array that you got earlier form cookies.get

I get this error: (node:1153) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): [object Object]

[code]

[2017-11-28 01:16] JakubSK commented on #874
+1

[2017-11-28 23:26] cjroebuck opened #1330 "Nightmare not loading all background images?"
Trying to screenshot the full height of this website but the images at the bottom are failing to load in, tried with many delays and it's failing to load the bottom rows of images:

URL:
http://shawcommercial-stg.azularcdev.com/client/#/room/bedroom-001/0733V/33100/9X36/ashlar/5/0/0

Screenshot:
![shot_fed0bc253d0dc9902177d802559b91d1](https://user-images.githubusercontent.com/12208/33349742-5d5bf

[2017-12-01 03:17] wallaceturner opened #1331 "how to save the page after a timeout error"
Consider a page load that times out
[code]

what I want to happen is to save the html *that did exist* after the call failed. I can't find a way to do this; calling `nightmare.html( ) `  in the catch does not work

[2017-12-03 03:58] psq-cin opened #1332 "Custom preload hanging nightmare"
If I use

    var path = require('path')
    let nightmare = Nightmare(
        {
            show: true,
            webPreferences: {
                preload: path.resolve("custom-script-refuse.js")
            }

        });

Electron hangs as soon as it opens (it does go to the goto specified url). My custom script is meant to refuse any alert, dialog or confirm window that appears:

    windo

[2017-12-03 05:20] psq-cin commented on #1332
OK, the problem was with my path.resolve: the same happens if I put an absolute path to a file that doesn't exist, but it runs when I point to an absolute path that exists. I have to say, though, that I am not being able to confirm or refuse a dialog, it simply stays there with the dialog showing. Am closing this as it is not relevant to my original issue, sorry.

[2017-12-03 05:20] #1332 closed

[2017-12-03 08:31] kryptokinght opened #1333 "Cannot read property 'dock' of undefined in runner.js"
I am trying to run nightmare on a windows system using windows powershell. But when i run it i get this error :
`PS D:\web-scraping2> node app.js
Now checking HP431696
Nightmare runner error:

    TypeError: Cannot read property 'dock' of undefined
        at Object.<anonymous> (D:\web-scraping2\node_modules\nightmare\lib\runner.js:58:29)

        at Object.<anonymous> (D:\web-scraping2\node_modul

[2017-12-03 11:58] leovingi opened #1334 "Nightmare screenshots stretched"
I'm going through a list of sites and taking screenshots of certain elements, ads in this case. Most of them work just fine, but every now and then I get a screenshot that looks like this
https://imgur.com/a/f8StB

The viewport is 1920x1080, but the whole thing is run on a Ubuntu server through xvfb (if that matters).
The screenshot size is 970x250, as it should be, it's the size of the ad, but it

[2017-12-04 03:19] ronolivarph commented on #968
same problem here, has anyone solved this yet?

[2017-12-04 10:25] hlongc opened #1335 "Scroll to screenshots"
I want scroll to screenshots by the `.screenshot()`, but I don't how can implement this function, I thought I could solve this problem by configuration, but I didn't find out how to configure it

[2017-12-04 20:58] Acconut commented on #1331
I was looking for what you exactly described and found a perfect solution in another issue: https://github.com/segmentio/nightmare/issues/830#issuecomment-256563322. This worked flawlessly for me, maybe it also helps you and other looking for a solution.

[2017-12-05 06:49] Tuqzar opened #1336 "nightmare in loop"
Hi. Can someone help to me wrap my code to loop. When i try make it i get error about next:
(node:7861) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): Nothing responds to "goto"
(node:7861) [DEP0018] DeprecationWarning: Unhandled promise rejections are deprecated. In the future, promise rejections that are not handled will terminate the Node.js process with a non-

[2017-12-05 06:51] Tuqzar commented on #1336
i think the problem in аsynchronous piece

[2017-12-05 07:09] #1333 closed

[2017-12-06 09:06] yukiyang0729 commented on #1082
[code]
I use this method ， but `ReferenceError: window is not defined` , why?

[2017-12-06 19:14] neto391994 commented on #1336
Same problem here :(
Please help

[2017-12-07 16:44] tansaku opened #1337 "running on c9 and handling c9 warning screen"
We have nightmare running on c9, but it's hitting the the c9 warning screen:

![](https://dl.dropbox.com/s/69whs6ircc3yt3h/Screenshot%202017-12-07%2016.41.00.png?dl=0)

We can write code to click the "open the app" button, but that's then hard coding to how things run on c9.  We're trying to set the cookie that avoids this preview screen like so:

[code]
but that's not working.

I wonder if anyone

[2017-12-07 16:48] tansaku commented on #1337
what's really odd is when we do automated acceptance testing on c9 using hound on a phoenix server we don't seem to encounter the preview screen at all, and I can't work out why it's not a problem there ... but it is for nightmare ...

[2017-12-07 17:02] tansaku commented on #1337
We now seem to have a version working using this:

[code]

[2017-12-08 07:50] lrembacz opened #1338 "Saving the response of the nightmare to the variable"
Is there a way to save the response of the nightmare captured from site and then save it as variable or save it in the file localy / on own server?

I need this information to send it via socket.

Thanks :D

[2017-12-08 16:50] jackHedaya opened #1340 "Change Nightmare visibility after initializing"
I was wondering how I can change Nightmare's visibility after the options object is set.

For example:

[code]

[2017-12-09 11:10] zwtan commented on #1305
I've CentOS installed, but doesn't have xvfb for this purpose. Have installed the missing dependency as below to resolve my issue. Mainly caused by Electron and Nightmare/CentOS

**Packages to be installed**
sudo yum groupinstall "Development Tools"
sudo yum install gtk+-devel gtk2-devel

sudo yum install libasound.so.2 libXv.so.1 libXss.so.1 libSM.so.6 libXi.so.6 libXrender.so.1 libXrandr.so.2 li

[2017-12-11 00:25] rpascal commented on #1336
Take a look here it should help:
https://github.com/rosshinkley/nightmare-examples/blob/master/docs/common-pitfalls/async-operations-loops.md

[2017-12-12 01:16] rpascal commented on #986
@lucaswxp Could you provide an example how you achieved this using browsermob-proxy? Does this method work with show set to false as well?

[2017-12-12 02:55] lucaswxp commented on #986
@rpascal Sorry, I don't have any samples. About your question: probably. Since browsermob is a proxy, should have no impact on nightmare functions.

[2017-12-12 10:52] simov commented on #810
Just FYI in 0.13 this clears the input text:
[code]

However you may have to trigger the appropriate event to update the internal state of your app:

[code]

[2017-12-12 11:47] JarvisPrestidge opened #1341 "vscode debugging nightmare - launch.json"
I'm using **vscode**, **typescript** and **nightmarejs**.

Since node v8, `inspector` debugging protocol has been recommended and `legacy` has been depreciated. I've just upgraded and can no longer debug my nightmare application. Are there any gotcha's when setting up the JS debugger in vscode `launch.json` options that one should know about when using the `inspector` protocol?

If someone could s

[2017-12-13 03:51] rsmith31415 opened #1342 "Specific page consuming too much memory"
I found a very strange page that consumes an excessive amount of memory after loading.  The script I'm running is very simple:

[code]

Does anyone know the reason this is occurring?  I have installed nightmare 2.10.0 and vo 4.0.2. I have tried to include timeouts to prevent this from happening but doesn't seem to help. This page loads as usual in Chrome and Firefox.

Thanks!

[2017-12-13 14:33] DenisChulkov opened #1343 "How can I attach to electron window?"
I test application which consists of standalone electron windows. Can I attach to electron window using nightmare?

[2017-12-14 03:49] tuanquynet opened #1344 "Break testcafe framework"
The block code in preload.js file cause problem on testcafe framework. The source code
https://github.com/segmentio/nightmare/blob/master/lib/preload.js#L13

I am concerning if I can comment that block of code to fix the problem.

thanks.

[2017-12-15 08:50] codenessjl commented on #343
does anyone get "ERR_NO_SUPPORTED_PROXIES" when use proxy in nightmare?

[2017-12-15 08:53] codenessjl opened #1345 "does anyone get "ERR_NO_SUPPORTED_PROXIES" when use proxy in nightmare?"
As the title,very grateful!

[2017-12-17 21:40] wallaceturner commented on #1331
thanks @Acconut

I will post the answer here from that other solution:

[code]

[2017-12-17 21:40] #1331 closed

[2017-12-18 21:20] mmsanalytics commented on #1297
I'm wondering the same thing.

[2017-12-19 18:00] Samsinite commented on #1254
Nice work! Took a look at your fork, we were looking at doing the exact same thing as you: running nightmare in an existing electron app. Currently, we are in research mode to determine if this tool might work for a project, if this tool is chosen, we'd definitely be putting in more research to help maintain opening nightmare inside of a existing electron process. At the moment though, I do have s

[2017-12-19 18:38] TimNZ commented on #1254
I haven't pushed the latest commits in quite a while.
The project driving an in-process Nightmare is parked for a little while.

There's a lot of debug info in the current src so I can't push it now, and I've got other priorities.

I'll likely resume dev on it very early January.

One issue is running multiple chains on webview at the same time.
There appears to be a bug with Electron IPC messages

[2017-12-19 18:56] Samsinite commented on #1254
Definitely saw the debug info, but for researching I wasn't too concerned about that. If we use it, we can always help with that. Thanks for putting the time into getting it where it is currently at.

[2017-12-19 19:00] Samsinite commented on #1254
I was stress testing it. Tried running 50 nightmare windows at the same time and it was really slow, promises even started timing out.

[2017-12-19 19:02] Samsinite commented on #1254
Out of curiosity (I haven't dug into the code), why is it communicating with the host webview instead of the `main` process?

[2017-12-19 19:09] TimNZ commented on #1254
I would say it will be useless for that.

The issue with Electron IPC that I spent quite a few hours trying to debug, tracing into Electron API code, may be a show stopper.  It would require an expert to figure out what is happening, either in my code, or inside Electron.

Single instance works fine.

More to say early Jan.

[2017-12-19 20:36] ajoslin103 commented on #1134
This is an electron problem I think...

see: https://github.com/electron/electron/issues/1043

they say we need to implement tooltips ourselves...

[2017-12-19 20:36] JonDotsoy commented on #555
when is apply this fix?

[2017-12-19 20:49] ajoslin103 opened #1346 "screenshot hangs when devTools is open"
I have found that interleaving .use(<screenshot>) with .action(<dom actions>) when devTools is open causes a hang which never times out

An unsatisfying workaround [for now] is to not open devTools

I don't know what the .action() is causing that should have this interaction -- I can comment out the .use() or the .action() calls and things zip right along...

[code]
[code]

[2017-12-20 09:26] guoxiangwen opened #1347 "Cannot set property 'strict' of undefined"
[code]

![image](https://user-images.githubusercontent.com/7627191/34200064-b82f59a4-e5aa-11e7-890a-df54788e0b41.png)

[2017-12-20 09:28] cue232s commented on #522
What would be the best way to handle an error that occurs  inside the resolve function of the accumulator?  For example in my call to `return accumulator.then` I'm passing a function that makes an asynchronous call and pushes the result into array like in your example above. If that asynchronous call fails, the next trip in the reduce loop, my array will be replaced by `undefined`.  Is there a way

[2017-12-20 13:13] NastiaPavliuk opened #1348 "action don't add extension"
[code]
**why it doesn't work?**

[2017-12-20 17:37] gcaraciolo commented on #1071
any 'real' soluctions to ```event.preventDefault()``` ?
I think the object ```event``` is blank because it comes from an IPC.
so is there some suggestions on how to get the ```event``` object itself?

[2017-12-21 10:46] silentHoo commented on #1325
I think what @Hanterdro mentioned should be backed into Nightmare.

[2017-12-22 10:13] iblessedi commented on #1277
can anybody post a code which can run the Nightmare?

[2017-12-22 11:49] lai32290 commented on #1277
@iblessedi I created a example for you.

https://www.pastiebin.com/5a3cf122bc0bf

[2017-12-22 11:51] iblessedi commented on #1277
Thank you.

[2017-12-22 16:56] JimTheMan commented on #1194
@casesandberg The original question was "click on nth element", not nth-child.

[2017-12-22 21:22] fishcharlie opened #1349 ".wait() timed out"
I have the following code to test to ensure the URL is correct before doing an assertion test.

	await browser.wait((expectedURL) => window.location.href == expectedURL, "http://localhost:3000/myTestPage");
	let result = await browser.evaluate(() => window.location.href);
	expect(result).to.equal("http://localhost:3000/myTestPage");

For some reason it looks like that `.wait` is timing out after t

[2017-12-23 15:10] mehdyhaghy opened #1350 "Nightmare js project staus"
is this project still active? no new releases for the past ten months and nightmarejs.org website is down.

[2017-12-23 22:03] JimTheMan opened #1351 "Something Like "nth()" Syntax?"
Hi, I am aware of the ":nth-child()" syntax, but I don't think that will help me here.

Suppose I have these elements:

[code]

The parent(s) of these elements have totally random classes that reset and are unselectable, thus preventing me from using nth-child. So, how can I instruct it to click on the second div?

[2017-12-24 00:17] webworker01 opened #1352 "Socks5a Proxy"
Hello, I am attempting to use a proxy that requires a username and password. I found the authentication example and sadly it does not seem to work.  I get either ERR_CONNECTION_RESET or ERR_EMPTY_RESPONSE depending on whether I am connecting to an http or https website respectively.

Is the authentication method just http authentication or will it also authenticate for socks 5a?

[2017-12-24 06:42] Paul-Hess commented on #1351
You might try .derp:nth-of-type(2)

https://developer.mozilla.org/en-US/docs/Web/CSS/:nth-of-type

[2017-12-24 08:32] anthnyprschka commented on #832
Hi there,
I am actually trying to pass a function as a paramter to .evaluate(). Pretty much like your example:

[code]

Yet if i do this I get the error: `myfn is not a function`.

Is it possible to pass functions as parameters?

[2017-12-26 18:13] nylen commented on #1060
This issue prevents me from using nightmare in my project.  I'll probably go with [chromeless](https://github.com/graphcool/chromeless) instead.

[2017-12-27 15:05] gcaraciolo commented on #1349
I had this problem too.
I think it is because the code sent to the browser is lost on page refresh (If like me, you are waiting to validate a url after some redirects).

Nightmare will throw an exception if the code sent to the browser (electron) doesn't response in 30 seconds. This answer the ```catch()```. After the exception is thrown you can run code again on nightmare, and things work as expe

[2017-12-28 11:02] kmiterror commented on #484
@laggingreflex  I get quite different results.

request, zombie and nightmare are around 3x-4x faster on my machine which seems consistent. But phantom is slower by around 50%, which doesn't make sense.

**What could be the reason?**
Some phantomjs bug/glitch with drivers/system on my machine?
Different nodejs version?
Tested page has been modified in some way?

Also I believe that **request** is

[2017-12-28 17:30] matthewmueller commented on #484
Just want to point out that Zombie being faster is to be expected. It uses JSDOM underneath, so if you can get away with using Zombie, you should.

The problem is that any JS-heavy website wouldn't work with Zombie.

[2017-12-29 02:57] fishcharlie commented on #1349
@gcaraciolo Any ideas for a solution? This seems super inefficient and a huge waste of time.

[2018-01-02 13:41] gcaraciolo commented on #1349
@fishcharlie unfortunately, not yet :/

[2018-01-02 14:05] timohausmann opened #1353 "Website not crawlable? (Evaluation timed out after 30000msec)"
Hi. This code works with every other URL I can think of, but not with the one I want (bildindex):

[code]

console output:
[code]

I tried different timeout-parameters and wait-functions, but nothing helped me.
When I use {show: true}, I can see the page loading. It takes longer than other websites, still I don't understand what's the problem here ... can somebody help me?

[2018-01-06 19:10] mck457 commented on #1345
same issue

[2018-01-06 19:10] mck457 opened #1354 "ERR_NO_SUPPORTED_PROXIES when using proxies"
title

[2018-01-06 20:03] rpascal commented on #1305
@idchlife where you able to get this working? I am having this issue appear on and off.

[2018-01-07 01:09] iamdubx commented on #1336
@rpascal horrible solution.

[2018-01-07 01:35] rpascal commented on #1336
@iamdubx could you elaborate on how this is horrible? It's not very useful to anyone by just saying it is horrible.

[2018-01-08 12:22] iamdubx commented on #1336
@rpascal well, loop using `reduce` or `vo` is not a clean solution. The code becomes very ugly.

[2018-01-08 18:06] rpascal commented on #1336
@iamdubx would you be able to provide a cleaner solution for us?

[2018-01-08 21:38] DPechacek commented on #784
@casesandberg I am also wondering this.  I have found no way to do this.  The library Sinon does not appear to work with nightmare.  And I see nothing in the nightmare API to allow you to mock ajax requests/responses.

[2018-01-09 08:00] derryberni opened #1355 "Problem When Typing Emoji"
`.type("textarea[name='about_me']", "😂") `
When i'm try to type emoji for example 😂 but when run nightmare i got it ��
How I can fix this ?

Thanks

[2018-01-09 14:09] basherr opened #1356 "Is there a way to pass local variable to evaluate function?"
The following test will pass if I remove `console.log driver`. However the local variable should be in the scope as it seems.
[code]

[2018-01-09 14:15] #1356 closed

[2018-01-09 15:50] pawelsamsel commented on #1219
I've got the same problem

[2018-01-09 16:36] pawelsamsel commented on #1219
If you are checking more than 1 url - you can try reuse nightmare instance - this may save you a few seconds from my observations.

[2018-01-10 06:41] basherr opened #1357 "How to pass class as an argument to evaluate - Typescript"
I've come across problem while `evaluating` a `url` and passing `class` as argument. Got error `Cannot read property 'resolve' of undefined`
[code]

[2018-01-11 06:05] glyph opened #1358 "enable chrome sandbox for nightmare"
I hope that the current response to #1234 (i.e.: adding a small note in the README) is not the end of the security story for Nightmare.

Electron does caution you to be careful, but it also offers sandboxing.  It's documented here https://electronjs.org/docs/api/sandbox-option and a more in-depth tutorial on enabling this can be found here: https://github.com/kewde/electron-sandbox .

[2018-01-11 15:02] themattrobinson opened #1359 "Combine screenshot and html actions"
What's the easiest way to combine two or more Nightmare actions into one call?

For example, I'd love  to take a screenshot and get the HTML of the current page with one call instead of calling .screenshot(path) and then .html(path).

[2018-01-12 20:59] themattrobinson commented on #1359
Sorry, I just found you can group actions with "use":  https://github.com/rosshinkley/nightmare-examples/blob/master/docs/beginner/use.md

[2018-01-14 20:00] cipri-tom commented on #537
@rosshinkley  thank you for the [detailed explanation](https://github.com/segmentio/nightmare/issues/537#issuecomment-197603932) about how `co` works. The references to its internals are great !

Please consider linking that comment in the `co` [example](https://github.com/rosshinkley/nightmare-examples/blob/master/docs/beginner/co.md), as well as [Loops](https://github.com/rosshinkley/nightmare-e

[2018-01-14 20:39] vanugrah opened #1361 "Continuing based on status codes"
Hello!

I had a question regarding conditional branching based on status codes. Essentially as I'm navigating through a website, I only want consecutive steps to run if my previous steps have resulted in a 200 response ( where applicable). For example if I'm trying to run a script but auth fails - then I want to be able to gracefully handle that. Any suggestions? Example script:

[code]

[2018-01-14 21:28] juancarlosfarah commented on #1349
I'm experiencing the same problem on a redirect after submitting a login form. If you have any ideas about how to solve this without timing out, they will be much appreciated. I will keeping working on it and post any updates here.

[2018-01-14 21:53] timkock commented on #1323
@lai32290  this helped #1082

[2018-01-21 19:01] iki commented on #1042
@nquoctuan I just run into the same issue. The passed preload script replaces [Nightmare preload script](https://github.com/segmentio/nightmare/blob/master/lib/preload.js), so just load it from top of your preload script. That works for me.
[code]

[2018-01-23 05:01] orliesaurus opened #1362 "Download a file.csv after clicking a link that opens a new tab"
I am trying to set up a script that downloads a .csv file from a really old front-end system written in ASP.
I've spent the last 6 hours reading through stackoverflow and old issues and I finally decided to ask for help.

Using nightmarejs, I manage to login fine and navigate to the page I need, however when I try to get nightmare to "click" the anchor tag that would initiate the download of the .